<div class="main">
  <!-- Lewe Menu -->
  <nav class="leftmenu" role="navigation">
    <ul class="leftmenu-nav">
      <li class="statystyki" [class.current]="isStatisticsPanelVisible"><a href="javascript:void(0)"
                                                                           (click)="displayStatisticsPanel()">Statystyki</a>
      </li>
      <li class="operacje" [class.current]="isLegalRegulationsPanelVisible"><a href="javascript:void(0)"
                                                                               (click)="displayLegalRegulationsPanel()">Regulaminy</a>
      </li>
      <li class="operacje" [class.current]="isAboutUsModeratePanelVisible"><a href="javascript:void(0)"
                                                                              (click)="displayAboutUsModeratePanel()">O
        Nas</a>
      </li>
      <li class="operacje" [class.current]="isContactModeratePanelVisible"><a href="javascript:void(0)"
                                                                              (click)="displayContactModeratePanel()">Kontakt</a>
      </li>
      <li class="operacje" [class.current]="isInvestGuideModeratePanelVisible"><a href="javascript:void(0)"
                                                                                  (click)="displayInvestGuideModeratePanel()">Jak
        inwestować</a>
      </li>
      <li class="operacje" [class.current]="isBorrowGuideModeratePanelVisible"><a href="javascript:void(0)"
                                                                                  (click)="displayBorrowGuideModeratePanel()">Jak
        pożyczać</a>
      </li>
      <li class="operacje" [class.current]="isFaqModeratePanelVisible"><a href="javascript:void(0)"
                                                                          (click)="displayFaqModeratePanel()">FAQ</a>
      </li>
      <li class="operacje" [class.current]="isP2PAboutModeratePanelVisible"><a href="javascript:void(0)"
                                                                               (click)="displayP2PAboutModeratePanel()">O
        pożyczkach P2P</a>
      </li>
      <li class="przelaczprofil"><a href="javascript:void(0)" (click)="logoutUser()">Wyloguj</a></li>
    </ul>
  </nav>
  <!-- Right Content Column -->
  <!-- Header -->
  <header id="header-panel">
    <div class="col-l"><h1><span class="yellow">Administrator: </span>Panel zarządzania</h1></div>
  </header>
  <!-- StatisticsComponent Content -->
  <div *ngIf="isStatisticsPanelVisible" class="content">
    <div class="row frontstats">
      <div class="col-l">
        <span class="row-header"><h2>Statystyki platformy</h2></span>
        <div class="box">
          <table>
            <tbody>
            <tr>
              <td class="column-1">Liczba inwestorów</td>
              <td class="column-2">101</td>
            </tr>
            <tr>
              <td class="column-1">Liczba pożyczkobiorców</td>
              <td class="column-2">100</td>
            </tr>
            <tr>
              <td class="column-1">Liczba aukcji</td>
              <td class="column-2">250 PLN</td>
            </tr>
            <tr>
              <td class="column-1">Kwota inwestycji</td>
              <td class="column-2">50000 PLN</td>
            </tr>
            <tr>
              <td class="column-1">Suma niespłaconych pożyczek</td>
              <td class="column-2">800 PLN</td>
            </tr>
            <tr>
              <td class="column-1">Suma spłaconych pożyczek</td>
              <td class="column-2">10000 PLN</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-r">
        <span class="row-header"><h2>Statystyki użycia platformy</h2></span>
        <div class="box">
          <div class="chart">
            <img src="resources/images/wykres.png" alt="Wykres">
          </div>
          <div class="legend">
            <div class="legend-s 1" style="color: #3399cc;"><span class="legend-box"
                                                                  style="background-color: #3399cc;"></span>Lorem
              Ipsum
            </div>
            <div class="legend-s 2" style="color: #b4dced;"><span class="legend-box"
                                                                  style="background-color: #b4dced;"></span>Lorem
              Ipsum
            </div>
            <div class="legend-s 3" style="color: #91c9e8;"><span class="legend-box"
                                                                  style="background-color: #91c9e8;"></span>Lorem
              Ipsum
            </div>
            <div class="legend-s 4" style="color: #67b8de;"><span class="legend-box"
                                                                  style="background-color: #67b8de;"></span>Lorem
              Ipsum
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>
  </div>

  <!-- Legal Regulations Content -->
  <div *ngIf="isLegalRegulationsPanelVisible" regulations-edit></div>

  <!-- About Us Content -->
  <div *ngIf="isAboutUsModeratePanelVisible" about-us-moderation></div>

  <!-- Borrow Guide Content -->
  <div *ngIf="isBorrowGuideModeratePanelVisible" borrow-guide-moderation></div>

  <!-- Invest Guide Content -->
  <div *ngIf="isInvestGuideModeratePanelVisible" invest-guide-moderation></div>

  <!-- P2P About Content -->
  <div *ngIf="isP2PAboutModeratePanelVisible" p2p-about-moderation></div>

  <!-- Faq Content -->
  <div *ngIf="isFaqModeratePanelVisible" faq-moderation></div>

  <!-- Contact Content -->
  <div *ngIf="isContactModeratePanelVisible" contact-moderation></div>

</div>
