<header id="header-panel" class="register">
  <h1><span class="yellow">Dodaj nową aukcję</span></h1>
</header>
<div class="content register">
  <div class="box" style="width: 70%;margin-left: 20%">
    <form name="register" id="register" [formGroup]="newAuctionForm" style="width: 80%;">
      <br/>
      <p>Tytuł wniosku</p><input class="form-register"
                                 [class.error]="!auctionTitleControl.valid && auctionTitleControl.touched"
                                 id="newLoanTitle" [formControl]="auctionTitleControl"
                                 name="newLoanTitle" type="text">
      <span *ngIf="auctionTitleControl.hasError('required') && auctionTitleControl.touched" class="error"
            style="position: static">{{auctionCreationError.title_not_given}}</span>
      <p>Cel pożyczki</p>
      <select class="form-register" id="newLoanTarget" name="newLoanTarget"
              [formControl]="loanTargetControl">
        <option *ngFor="let target of loanTargets" [value]="target.value">{{target.name}}</option>
      </select>
      <p>Opis</p><textarea rows="10" style="resize: none;" class="form-register" id="newLoanDescription"
                           name="newLoanDescription" [formControl]="auctionDescriptionControl">{{auctionDescriptionControl.value}}</textarea>
      <p>Kwota pożyczki (PLN)</p><input class="form-register"
                                        [class.error]="!auctionAmountControl.valid && auctionAmountControl.touched"
                                        id="newLoanAmount" name="newLoanAmount" type="text"
                                        [formControl]="auctionAmountControl">
      <span *ngIf="auctionAmountControl.hasError('required') && auctionAmountControl.touched" class="error"
            style="position: static">{{auctionCreationError.loan_amount_not_given}}</span>
      <span *ngIf="auctionAmountControl.touched && auctionAmountControl.hasError('pattern')" class="error"
            style="position: static">{{auctionCreationError.loan_amount_in_bad_format}}</span>
      <p>Okres spłaty w miesiącach</p><input class="form-register"
                                             [class.error]="!auctionPayoffPeriodControl.valid && auctionPayoffPeriodControl.touched"
                                             id="newLoanPayoffPeriod" name="newLoanPayoffPeriod"
                                             type="text" [formControl]="auctionPayoffPeriodControl">
      <span *ngIf="auctionPayoffPeriodControl.hasError('required') && auctionPayoffPeriodControl.touched" class="error"
            style="position: static">{{auctionCreationError.payoff_term_not_given}}</span>
      <span *ngIf="auctionPayoffPeriodControl.touched && auctionPayoffPeriodControl.hasError('pattern')"
            class="error"
            style="position: static">{{auctionCreationError.payoff_term_in_bad_format}}</span>
      <p></p>
      <h1 style="color: #2b542c;">Proponowane oprocentowanie: {{calculatedLoanInterestControl.value}}%</h1>
      <br/>
      <span *ngIf="auctionSaveSuccess" class="green">Aukcja została dodana</span>
      <span *ngIf="auctionSaveError" class="error">Wystąpił błąd podczas zapisywania nowej aukcji</span>
      <br/>
      <button type="submit" class="zapisz-dane" (click)="onNewAuctionSaveClick()" [disabled]="newAuctionForm.invalid">Zapisz nową aukcję</button>
    </form>
  </div>
</div>
