<header id="header-panel">
  <div class="col-l"><h1><span class="yellow">Pożyczkobiorca: </span>Aukcje</h1></div>
  <div class="col-r"><h4><span class="blue">Dostępne środki: </span>12.000 zł</h4></div>
</header>
<div class="content">
  <div class="row myauctions">
    <span class="row-header"><h2>Moje aukcje</h2></span>
    <div class="box">
      <table>
        <thead>
        <tr>
          <th>Komentarz</th>
          <th>ID</th>
          <th>Zebrano</th>
          <th>Okres</th>
          <th>%</th>
          <th>Wysokość raty</th>
          <th>Dni do końca</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let auction of borrowerAuctions, let auctionIndex = index">
          <td class="column" data-label="Komentarz">
            <a href="#" class="comment"><img src="images/comment-icon.png" alt="Komentarze">
              <span class="comment-ammount">1</span></a>
          </td>
          <td class="column" data-label="ID">{{auction._id}}</td>
          <td class="column sldr" data-label="Zebrano">
            <span class="slider-txt">71%</span>
            <div class="slider">
              <div id="slider" class="ui-slider">
                <div class="ui-slider-range" style="width: 71.3333%;"></div>
              </div>
            </div>
          </td>
          <td class="column" data-label="Okres">{{auction.payoffPeriodInMonths}} miesięcy</td>
          <td class="column" data-label="%">10%</td>
          <td class="column" data-label="Wysokość raty">{{auction.rateOfLoan}} zł</td>
          <td class="column" data-label="Dni do końca">11 dni</td>
          <td class="column" data-label="Status"><span class="red">W trakcie</span></td>
          <td class="column btn">
            <a href="#" class="btn">Plan</a>
            <a href="#" class="btn">Odwołaj</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
