<div class="main">
  <!-- Lewe Menu -->
  <nav class="leftmenu" role="navigation">
    <ul class="leftmenu-nav">
      <li class="podsumowanie current"><a href="javascript:void(0)" (click)="onSummaryClick()">Podsumowanie</a></li>
      <li class="zainwestuj"><a href="javascript:void(0)" (click)="onNewAuctionClick()">Wniosek o pożyczkę</a></li>
      <li class="zainwestuj"><a href="javascript:void(0)" (click)="onAuctionsClick()">Twoje aukcje</a></li>
      <!--<li class="operacje"><a href="javascript:void(0)">Operacje na koncie</a></li>
      <li class="statystyki"><a href="javascript:void(0)">Statystyki</a></li>-->
      <li class="przelaczprofil"><a href="javascript:void(0)" (click)="logoutUser()">Wyloguj</a></li>
    </ul>
  </nav>
  <div *ngIf="!isNewAuctionPanelVisible && !isAuctionsPanelVisible">
    <header id="header-panel">
      <div class="col-l"><h1><span class="yellow">Pożyczkobiorca: </span>podsumowanie</h1></div>
      <div class="col-r"><h4><span class="blue">Zadłużenie: </span>12.000 zł</h4></div>
    </header>
    <div class="content">
      <div class="row infopanel">
        <span class="info-header">Witaj {{borrower.name}}! Zapraszamy Cię do zapoznania się z naszym panelem.</span>
        <span class="info-txt">Z jednego miejsca możesz zarządząć wszystkimi swomi pożyczkami.</span>
        <div class="boxes">
          <div class="box">
            <img src="resources/images/box-icon-1.png " alt="Lorem Ipsum">
            <p>Mauris nisl lacus, rhoncus quis eleifend eu, congue a sem.</p>
            <a href="#" class="btn more">Lorem Ipsum</a>
          </div>
          <div class="box">
            <img src="resources/images/box-icon-2.png" alt="Lorem Ipsum">
            <p>Mauris nisl lacus, rhoncus quis eleifend eu, congue a sem.</p>
            <a href="#" class="btn more">Lorem Ipsum</a>
          </div>
          <div class="box">
            <img src="resources/images/box-icon-3.png" alt="Lorem Ipsum">
            <p>Mauris nisl lacus, rhoncus quis eleifend eu, congue a sem.</p>
            <a href="#" class="btn more">Lorem Ipsum</a>
          </div>
        </div>
      </div>
      <div class="row frontstats">
        <div class="col-l">
          <span class="row-header"><h2>Moje bieżące pożyczki</h2></span>
          <div class="box">
            <table>
              <tbody>
              <tr>
                <td class="column-1">Liczba pożyczek</td>
                <td class="column-2">101</td>
              </tr>
              <tr>
                <td class="column-1">Kwota pożyczek</td>
                <td class="column-2">10.5698 zł</td>
              </tr>
              <tr>
                <td class="column-1">Kwota spłaconych rat</td>
                <td class="column-2">250 zł</td>
              </tr>
              <tr>
                <td class="column-1">Kwota rat opóźnionych</td>
                <td class="column-2">50 zł</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row activity">
        <span class="row-header"><h2>Ostatnie aktywności</h2></span>
        <div class="box">
          <table>
            <thead>
            <tr>
              <th></th>
              <th>Data</th>
              <th>Godzina</th>
              <th>Wydarzenie</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-info.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Dodales komentarz do aukcji <span
                class="green">9834</span></td>
              <td class="column btn">
                <a href="#" class="btn">Aukcja</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-check.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Wplynela rata za pozyczke nr <span class="green">9834</span>
                w kwocie <span class="green">109 zł</span> <strong>(opozniona 4 dni)</strong></td>
              <td class="column btn">
                <a href="#" class="btn">Plan</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-info.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Dodales komentarz do aukcji <span
                class="green">9834</span></td>
              <td class="column btn">
                <a href="#" class="btn">Aukcja</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-check.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Wplynela rata za pozyczke nr <span class="green">9834</span>
                w kwocie <span class="green">109 zł</span> <strong>(opozniona 4 dni)</strong></td>
              <td class="column btn">
                <a href="#" class="btn">Plan</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-info.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Dodales komentarz do aukcji <span
                class="green">9834</span></td>
              <td class="column btn">
                <a href="#" class="btn">Aukcja</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-check.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Wplynela rata za pozyczke nr <span class="green">9834</span>
                w kwocie <span class="green">109 zł</span> <strong>(opozniona 4 dni)</strong></td>
              <td class="column btn">
                <a href="#" class="btn">Plan</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-info.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Dodales komentarz do aukcji <span
                class="green">9834</span></td>
              <td class="column btn">
                <a href="#" class="btn">Aukcja</a>
              </td>
            </tr>
            <tr>
              <td class="column" data-label="">
                <a href="#" class="status"><img src="resources/images/icon-check.png" alt="Info"></a>
              </td>
              <td class="column" data-label="Data">21 sty 2016</td>
              <td class="column" data-label="Godzina">15:55</td>
              <td class="column wydarzenie" data-label="Wydarzenie">Wplynela rata za pozyczke nr <span class="green">9834</span>
                w kwocie <span class="green">109 zł</span> <strong>(opozniona 4 dni)</strong></td>
              <td class="column btn">
                <a href="#" class="btn">Plan</a>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
      <div class="pagination">
        <ul>
          <li class="pagination-left"><a href="#"><img src="resources/images/icon-arrow-l.png" alt="<"></a></li>
          <li><a href="#" class="active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li class="pagination-right"><a href="#"><img src="resources/images/icon-arrow-r.png" alt=">"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isNewAuctionPanelVisible" auction-loan-application></div>
  <div *ngIf="isAuctionsPanelVisible" borrower-auctions-list></div>
</div>
