<header id="header-home">
  <div class="row infopanel register">
    <h1>FAQ</h1>
    <br/>
    <br/>
    <div *ngFor="let faq of faqContentList, let faqIndex = index">
      <h3><a title="questionTitle" href="javascript:void(0)" (click)="goTo('question' + faq._id)"><p [innerHTML]="faq.faqQuestion"></p></a></h3>
      <br/>
    </div>
    <br/>
    <br/>
    <br/>
    <div *ngFor="let faq of faqContentList, let faqIndex = index">
      <h3 [attr.id]="'question' + faq._id"><p [innerHTML]="faq.faqQuestion"></p></h3><p [innerHTML]="faq.htmlFormattedText"></p>
      <br/>
    </div>
  </div>
</header>
