<section id="partnerzy">
    <div class="container">
        <ul class="logos">
            <li><a href="javascript:void(0)"><img src="images/partners/logo_07.png"></a></li>
            <li><a href="javascript:void(0)"><img src="images/partners/logo_08.png"></a></li>
            <li><a href="javascript:void(0)"><img src="images/partners/logo_09.png"></a></li>
            <li><a href="javascript:void(0)"><img src="images/partners/logo_10.png"></a></li>
            <li><a href="javascript:void(0)"><img src="images/partners/logo_11.png"></a></li>
            <li><a href="javascript:void(0)"><img src="images/partners/logo_12.png"></a></li>
            <li><a href="javascript:void(0)"><img src="images/partners/logo_13.png"></a></li>
        </ul>
    </div>
</section>