<footer>
  <div class="container">
    <div class="row">
      <div class="col-l">
        <a class="navbar-brand" routerLink="/pospo"><img src="resources/images/logo-big.png"
                                                         alt="Pospo.pl - pożyczki społecznościowe"></a>
        <span class="txt">Platforma oferująca atrakcyjne pożyczki społecznościowe</span>
        <span class="phone"><img src="resources/images/icon-phone.png" alt="Telefon">+48 252 481 455</span>
        <span class="mail"><img src="resources/images/icon-mail.png" alt="Mail"><a href="mailto:info@pospo.pl">info@pospo.pl</a></span>
      </div>
      <div class="col-r">
        <div class="row">
          <div class="col-menu">
            <h4>Dowiedz się więcej</h4>
            <ul>
              <li><a [routerLink]="['/pospo/info']" [queryParams]="{contentType: 'P2P_ABOUT'}">Czym są pożyczki P2P</a></li>
              <li><a href="javascript:void(0)"></a></li>
              <li><a href="javascript:void(0)"></a></li>
            </ul>
          </div>
          <div class="col-menu">
            <h4>O Nas</h4>
            <ul>
              <li><a [routerLink]="['/pospo/info']" [queryParams]="{contentType: 'ABOUT_US'}">Opis Zespołu</a></li>
              <li><a href="javascript:void(0)"></a></li>
              <li><a href="javascript:void(0)"></a></li>
            </ul>
          </div>
          <div class="col-menu">
            <h4>Pomoc</h4>
            <ul>
              <li><a [routerLink]="['/pospo/info']" [queryParams]="{contentType: 'INVEST_GUIDE'}">Inwestowanie na platformie POSPO krok po kroku</a></li>
              <li><a [routerLink]="['/pospo/info']" [queryParams]="{contentType: 'BORROW_GUIDE'}">Pożyczanie pieniędzy na platformie POSPO krok po kroku</a>
              </li>
              <li><a [routerLink]="['/pospo/faq']">FAQ</a></li>
            </ul>
          </div>
          <div class="col-menu">
            <h4>Regulamin</h4>
            <ul id="legalRegulationsToView" name="legalRegulationsToView">
              <li *ngFor="let legalRegulationTitle of legalRegulationsTitles, let regulationIndex = index">
                <a href="javascript:void(0)" (click)="onLegalRegulationClicked(regulationIndex)">
                  {{legalRegulationTitle.title}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <div class="container">
      <div class="col-l"><p>Copyright &copy; 2016 Pospo.pl</p></div>
      <div class="col-r"><span>Znajdź nas na facebooku i youtube:</span><a href="javascript:void(0)"><img
        src="resources/images/fb.png"
        alt="facebook"></a><a
        href="javascript:void(0)"><img src="resources/images/youtube.png" alt="youtube"></a></div>
    </div>
  </div>
</footer>
