<section id="aukcje">
    <div class="container">
        <h2>Promowane aukcje</h2>
        <div class="col-l"><img src="resources/images/wykres.png"></div>
        <div class="col-r">
            ...
        </div>
        <div class="row">
            <div class="legend 1" style="color: #3399cc;"><span class="legend-box"
                                                                style="background-color: #3399cc;"></span>Lorem
                Ipsum
            </div>
            <div class="legend 2" style="color: #b4dced;"><span class="legend-box"
                                                                style="background-color: #b4dced;"></span>Lorem
                Ipsum
            </div>
            <div class="legend 3" style="color: #91c9e8;"><span class="legend-box"
                                                                style="background-color: #91c9e8;"></span>Lorem
                Ipsum
            </div>
            <div class="legend 4" style="color: #67b8de;"><span class="legend-box"
                                                                style="background-color: #67b8de;"></span>Lorem
                Ipsum
            </div>
        </div>
    </div>
</section>
