<section id="referencje">
    <div class="container">
        <ul class="ref">
            <li>
                <span class="txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec vestibulum ex, ut venenatis lectus. Cras id magna quis massa tincidunt aliquet. Curabitur venenatis egestas nibh, at aliquam quam pellentesque eget. Duis fermentum magna id tellus blandit faucibus. Duis nec est sed ligula tincidunt elementum at ac urna. </span>
                <span class="name">Jan Kowalski, Lorem Ipsum</span>
            </li>
        </ul>
        <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="mask"></div>
</section>