<section id="licznik">
    <div class="container">
        <h2><span class="yellow">Pospo</span> w liczbach</h2>
        <div class="col-l">
            <div class="l-uzytkownicy">2500</div>
            <div class="txt">Liczba zarejestrowanych użytkowników</div>
        </div>
        <div class="col-r">
            <div class="r-pozyczki">2.456.988</div>
            <div class="txt">Kwota udzielonych pożyczek</div>
        </div>
    </div>
</section>