<nav class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/pospo"><img src="resources/images/logo.png"
                                                       alt="Pospo.pl - pożyczki społecznościowe"></a>
    </div>
    <input id="nav" type="checkbox"><label for="nav"></label>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li><a href="javascript:void(0)">Czym są pożyczki P2P ?</a></li>
        <li><a href="javascript:void(0)">O Nas</a></li>
        <li><a href="javascript:void(0)">Pomoc</a></li>
        <li><a href="javascript:void(0)">Kontakt</a></li>
      </ul>
      <form *ngIf="!isUserLoggedIn()" [formGroup]="loginForm" name="login" id="login-form">
        <div class="login-box">
          <input class="form-control" [class.error]="!emailControl.valid && emailControl.touched" id="login"
                 placeholder="Email" type="text" name="userEmail" [formControl]="emailControl">
          <span *ngIf="!emailControl.valid && emailControl.touched"
                class="error button">{{loginErrors.email_invalid}}</span>
          <span *ngIf="emailControl.hasError('unknown')" class="error button">{{loginErrors.email_unknown}}</span>
          <span *ngIf="emailControl.hasError('unknownError')" class="error button">{{loginErrors.unknown_error}}</span>
        </div>
        <div class="login-box">
          <input class="form-control"
                 [class.error]="!passwordControl.valid && passwordControl.touched" id="password"
                 placeholder="Hasło" type="password" [formControl]="passwordControl" name="userPassword">
          <span *ngIf="passwordControl.hasError('typeUnknown')"
                class="error button">{{loginErrors.user_type_unknown}}</span>
          <span *ngIf="passwordControl.hasError('invalid')" class="error button">{{loginErrors.password_invalid}}</span>
        </div>
        <button type="submit" class="login" (click)="loginUser()"
                [disabled]="!emailControl.valid || !passwordControl.valid">Zaloguj się
        </button>
        <button type="button" class="register" routerLink="/pospo/preregister">Rejestracja</button>
      </form>
      <div *ngIf="isUserLoggedIn()" class="profile" (click)="displayUserPanel()">
        <div class="txt" style="padding-left: 20px">
          <span class="name">{{loggedInUser.name}} {{loggedInUser.surname}}</span>
          <span class="role">{{loggedInUser.userTypeToDisplay}}</span>
        </div>
        <div class="avatar"><a href="javascript:void(0)" (click)="displayAvatarDetails()"><img src="resources/images/avatars/avatar.jpg"
                                                              class="avatar-image"/></a></div>
        <div *ngIf="avatarDetailsVisible" class="avatar" style="margin-right: 8px;margin-bottom: 5px;border-radius: 15%;background-color: lightgray;width: 140px;height: 80px;position:static;">
          <button type="submit" class="zapisz-dane" style="margin-top: 29px;margin-left: 26px;width: 65%;" (click)="logoutUser()">Wyloguj</button>
        </div>
      </div>
    </div>
  </div>
</nav>
