<div class="row infopanel register">
    <span class="info-header">Zostałeś prawidłowo wylogowany</span>
    <span class="info-txt">W celu kontynuowania korzystania z serwisu należy ponownie się zalogować</span>
</div>