<header id="header-panel" class="register">
  <h1><span class="yellow">{{registrationTitle}}</span></h1>
</header>
<div class="content register">
  <div *ngIf="!registrationCompleted && !phoneVerificationSendCompleted" class="row register">
    <div class="box">
      <form name="register" id="register" [formGroup]="registrationForm">
        <table class="choose-user-type" style="border-collapse: separate;">
          <tr *ngIf="investorChosenTypeControl.value || borrowerChosenTypeControl.value">
            <button class="zapisz-dane" (click)="revertToUserTypeChoice()">Wróć do wyboru typu użytkownika</button>
          </tr>
          <tr *ngIf="!borrowerChosenTypeControl.value && !investorChosenTypeControl.value">
            <td>Wybierz rodzaj użytkownika</td>
          </tr>
          <tr *ngIf="!borrowerChosenTypeControl.value && !investorChosenTypeControl.value">
            <td style="background-color: white;">
              <input id="investorTypeRadioId" name="investorTypeRadio" type="radio" value="INVESTOR"
                     [formControl]="investorChosenTypeControl"/>INWESTOR<br/>
              <input id="borrowerTypeRadioId" name="borrowerTypeRadio" type="radio" value="BORROWER"
                     [formControl]="borrowerChosenTypeControl"/>POŻYCZKOBIORCA<br/>
            </td>
          </tr>
          <tr *ngIf="borrowerChosenTypeControl.value || investorChosenTypeControl.value">
            <input id="fullRegistrationCheckboxId" name="fullRegistrationCheckbox" value="fullRegistration"
                   type="checkbox"
                   [formControl]="fullRegistrationCheckboxControl"><span
            style="font-size: 15px;"> Pełna rejestracja (W przypadku inwestora pełna rejestracja jest wymagana do dokonywania inwestycji w pożyczki społecznościowe.
            W przypadku pożyczkobiorcy pełna rejestracja pozwala na uzyskanie bardziej korzystnego oprocentowania pożyczki)</span>
          </tr>
          <tr *ngIf="borrowerChosenTypeControl.value">
            <input id="loanApplicationCheckboxId" name="loanApplicationCheckbox" value="loanApplication" type="checkbox"
                   [formControl]="loanApplicationCheckboxControl"><span style="font-size: 15px;"> Razem z rejestracją składam wniosek o pożyczkę</span>
          </tr>
        </table>
        <br/>
        <br/>
        <div *ngIf="investorChosenTypeControl.value">
          <p>Imię</p><input class="form-register"
                            [class.error]="!investorNameControl.valid && investorNameControl.touched"
                            id="newInvestorName" name="newInvestorName" type="text" [formControl]="investorNameControl">
          <span *ngIf="investorNameControl.hasError('required') && investorNameControl.touched" class="error"
                style="position: static">{{userRegistrationError.name_not_given}}</span>
          <span *ngIf="investorNameControl.hasError('pattern') && investorNameControl.touched" class="error"
                style="position: static">{{userRegistrationError.name_invalid_format}}</span>
          <p>Nazwisko</p><input class="form-register" [formControl]="investorSurnameControl"
                                [class.error]="!investorSurnameControl.valid && investorSurnameControl.touched"
                                id="newInvestorSurname"
                                name="newInvestorSurname" type="text">
          <span *ngIf="investorSurnameControl.hasError('required') && investorSurnameControl.touched" class="error"
                style="position: static">{{userRegistrationError.surname_not_given}}</span>
          <span *ngIf="investorSurnameControl.hasError('pattern') && investorSurnameControl.touched" class="error"
                style="position: static">{{userRegistrationError.surname_invalid_format}}</span>
          <p>Adres E-Mail</p><input class="form-register"
                                    [class.error]="!investorEmailControl.valid && investorEmailControl.touched"
                                    id="newInvestorEmail"
                                    name="newInvestorEmail" type="email"
                                    [formControl]="investorEmailControl">
          <span *ngIf="emailAlreadyExistsControl.value" class="error"
                style="position: static">{{userRegistrationError.email_exists}}</span>
          <span *ngIf="investorEmailControl.hasError('required') && investorEmailControl.touched" class="error"
                style="position: static">{{userRegistrationError.email_not_given}}</span>
          <span *ngIf="investorEmailControl.touched && investorEmailControl.hasError('pattern')" class="error"
                style="position: static">{{userRegistrationError.email_bad_format}}</span>
          <p>Numer telefonu</p><input class="form-register"
                                      [class.error]="!investorPhoneNumberControl.valid && investorPhoneNumberControl.touched"
                                      id="newInvestorPhone"
                                      name="newInvestorPhone" type="text"
                                      [formControl]="investorPhoneNumberControl">
          <span *ngIf="investorPhoneNumberControl.hasError('required') && investorPhoneNumberControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.phone_not_given}}</span>
          <span *ngIf="investorPhoneNumberControl.touched && investorPhoneNumberControl.hasError('pattern')"
                class="error"
                style="position: static">{{userRegistrationError.phone_bad_format}}</span>
          <p>Hasło</p><input class="form-register"
                             [class.error]="!investorPasswordControl.valid && investorPasswordControl.touched"
                             id="newInvestorPassword" name="newInvestorPassword" type="password"
                             [formControl]="investorPasswordControl">
          <span *ngIf="investorPasswordControl.hasError('required') && investorPasswordControl.touched" class="error"
                style="position: static">{{userRegistrationError.password_not_given}}</span>
          <p>Powtórz Hasło</p><input class="form-register"
                                     [class.error]="!investorRepeatedPasswordControl.valid && investorRepeatedPasswordControl.touched"
                                     id="newInvestorRepeatedPassword" name="newInvestorRepeatedPassword"
                                     type="password" [formControl]="investorRepeatedPasswordControl">
          <span *ngIf="investorRepeatedPasswordControl.hasError('required') && investorRepeatedPasswordControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.repeated_password_not_given}}</span>
          <span
            *ngIf="investorRepeatedPasswordControl.dirty && (investorRepeatedPasswordControl.value != investorPasswordControl.value)"
            class="error" style="position: static">{{userRegistrationError.password_not_match}}</span>
          <span *ngIf="investorRepeatedPasswordControl.dirty"
                style="position: static">Podstawowa rejestracja pozwala na dostęp do ograniczonej wersji platformy POSPO. W celu pełnego korzystania z jej możliwości oraz inwestowania nalezy dokonać pełnej rejestracji.
          </span>
          <div *ngIf="fullRegistrationCheckboxControl.value && investorChosenTypeControl.value">
            <p></p>
            <h1>Dane firmy:</h1>
            <br/>
            <p>Nazwa firmy</p><input class="form-register"
                                     [class.error]="!companyNameControl.valid && companyNameControl.touched"
                                     id="newInvestorCompanyName" name="newInvestorCompanyName" type="text"
                                     [formControl]="companyNameControl">
            <span *ngIf="companyNameControl.hasError('required') && companyNameControl.touched" class="error"
                  style="position: static">{{userRegistrationError.company_name_not_given}}</span>
            <span *ngIf="companyNameControl.hasError('pattern') && companyNameControl.touched" class="error"
                  style="position: static">{{userRegistrationError.company_name_invalid}}</span>
            <p>NIP Firmy</p><input class="form-register"
                                   [class.error]="!companyTaxIdControl.valid && companyTaxIdControl.touched"
                                   id="newInvestorCompanyTaxId"
                                   name="newInvestorCompanyTaxId" type="text"
                                   [formControl]="companyTaxIdControl">
            <span *ngIf="companyTaxIdControl.hasError('required') && companyTaxIdControl.touched" class="error"
                  style="position: static">{{userRegistrationError.company_tax_id_not_given}}</span>
            <span *ngIf="companyTaxIdControl.touched && companyTaxIdControl.hasError('pattern')" class="error"
                  style="position: static">{{userRegistrationError.company_tax_id_invalid}}</span>
            <p>Forma prawna</p>
            <select class="form-register" id="newInvestorCompanyForm" name="newInvestorCompanyForm"
                    [formControl]="companyFormControl">
              <option *ngFor="let form of companyForms" [value]="form.value">{{form.name}}</option>
            </select>
            <p></p>
            <h1>Adres firmy:</h1>
            <br/>
            <p>Ulica</p><input class="form-register"
                               [class.error]="!companyStreetNameControl.valid && companyStreetNameControl.touched"
                               id="newInvestorCompanyStreetName"
                               name="newInvestorCompanyStreetName" type="text" [formControl]="companyStreetNameControl">
            <span *ngIf="companyStreetNameControl.hasError('required') && companyStreetNameControl.touched"
                  class="error"
                  style="position: static">{{userRegistrationError.street_name_not_given}}</span>
            <span *ngIf="companyStreetNameControl.hasError('pattern') && companyStreetNameControl.touched" class="error"
                  style="position: static">{{userRegistrationError.street_name_invalid}}</span>
            <p>Numer budynku</p><input class="form-register"
                                       [class.error]="!companyStreetNumberControl.valid && companyStreetNumberControl.touched"
                                       id="newInvestorCompanyHouseNumber" [formControl]="companyStreetNumberControl"
                                       name="newInvestorCompanyHouseNumber" type="text">
            <span *ngIf="!companyFlatNumberControl.valid && companyFlatNumberControl.touched" class="error"
                  style="position: static">{{userRegistrationError.house_not_given}}</span>
            <p>Numer lokalu</p><input class="form-register"
                                      [class.error]="!companyFlatNumberControl.valid && companyFlatNumberControl.touched"
                                      id="newInvestorCompanyFlatNumber"
                                      name="newInvestorCompanyFlatNumber" type="text"
                                      [formControl]="companyFlatNumberControl">
            <span *ngIf="companyFlatNumberControl.hasError('required') && companyFlatNumberControl.touched"
                  class="error"
                  style="position: static">{{userRegistrationError.flat_not_given}}</span>
            <span *ngIf="companyFlatNumberControl.hasError('pattern') && companyFlatNumberControl.touched" class="error"
                  style="position: static">{{userRegistrationError.flat_invalid}}</span>
            <p>Kod pocztowy</p><input class="form-register"
                                      [class.error]="!companyPostalCodeControl.valid && companyPostalCodeControl.touched"
                                      id="newInvestorCompanyPostalCode"
                                      name="newInvestorCompanyPostalCode" type="text"
                                      [formControl]="companyPostalCodeControl">
            <span *ngIf="companyPostalCodeControl.hasError('required') && companyPostalCodeControl.touched"
                  class="error"
                  style="position: static">{{userRegistrationError.postal_code_not_given}}</span>
            <span *ngIf="companyPostalCodeControl.hasError('pattern') && companyPostalCodeControl.touched" class="error"
                  style="position: static">{{userRegistrationError.postal_code_invalid}}</span>
            <p>Miasto</p><input class="form-register"
                                [class.error]="!companyCityControl.valid && companyCityControl.touched"
                                id="newInvestorCompanyCity"
                                name="newInvestorCompanyCity" type="text" [formControl]="companyCityControl">
            <span *ngIf="companyCityControl.hasError('required') && companyCityControl.touched" class="error"
                  style="position: static">{{userRegistrationError.city_not_given}}</span>
            <span *ngIf="companyCityControl.hasError('pattern') && companyCityControl.touched" class="error"
                  style="position: static">{{userRegistrationError.city_invalid}}</span>
            <p></p>
            <input name="checkbox" value="differentCorrespondenceAddress" type="checkbox"
                   [formControl]="companyDifferentCorrespondenceAddressControl"><span
            style="font-size: 15px;">Adres korespondencyjny inny niż adres firmy</span>
            <br/>
            <br/>
            <div *ngIf="companyCorrespondenceAddressDifferentThenRegistered()">
              <p></p>
              <h1>Adres korespondencyjny firmy:</h1>
              <br/>
              <p>Ulica</p><input class="form-register"
                                 [class.error]="!companyCorrespondenceStreetNameControl.valid && companyCorrespondenceStreetNameControl.touched"
                                 id="newInvestorCompanyStreetNameCorrespondence"
                                 [formControl]="companyCorrespondenceStreetNameControl"
                                 name="newInvestorCompanyStreetNameCorrespondence" type="text">
              <span
                *ngIf="companyCorrespondenceStreetNameControl.hasError('required') && companyCorrespondenceStreetNameControl.touched"
                class="error" style="position: static">
                {{userRegistrationError.street_name_not_given}}</span>
              <span
                *ngIf="companyCorrespondenceStreetNameControl.hasError('pattern') && companyCorrespondenceStreetNameControl.touched"
                class="error" style="position: static">
                {{userRegistrationError.street_name_invalid}}</span>
              <p>Numer budynku</p><input class="form-register"
                                         [class.error]="!companyCorrespondenceStreetNumberControl.valid && companyCorrespondenceStreetNumberControl.touched"
                                         id="newInvestorCompanyHouseNumberCorrespondence"
                                         [formControl]="companyCorrespondenceStreetNumberControl"
                                         name="newInvestorCompanyHouseNumberCorrespondence" type="text">
              <span
                *ngIf="companyCorrespondenceStreetNumberControl.hasError('required') && companyCorrespondenceStreetNumberControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.house_not_given}}</span>
              <span
                *ngIf="companyCorrespondenceStreetNumberControl.hasError('pattern') && companyCorrespondenceStreetNumberControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.house_invalid}}</span>
              <p>Numer lokalu</p><input class="form-register"
                                        [class.error]="!companyCorrespondenceFlatNumberControl.valid && companyCorrespondenceFlatNumberControl.touched"
                                        id="newInvestorCompanyFlatNumberCorrespondence"
                                        [formControl]="companyCorrespondenceFlatNumberControl"
                                        name="newInvestorCompanyFlatNumberCorrespondence" type="text">
              <span
                *ngIf="companyCorrespondenceFlatNumberControl.hasError('required') && companyCorrespondenceFlatNumberControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.flat_not_given}}</span>
              <span
                *ngIf="companyCorrespondenceFlatNumberControl.hasError('pattern') && companyCorrespondenceFlatNumberControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.flat_invalid}}</span>
              <p>Kod pocztowy</p><input class="form-register"
                                        [class.error]="!companyCorrespondencePostalCodeControl.valid && companyCorrespondencePostalCodeControl.touched"
                                        id="newInvestorCompanyPostalCodeCorrespondence"
                                        [formControl]="companyCorrespondencePostalCodeControl"
                                        name="newInvestorCompanyPostalCodeCorrespondence" type="text">
              <span
                *ngIf="companyCorrespondencePostalCodeControl.hasError('required') && companyCorrespondencePostalCodeControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.postal_code_not_given}}</span>
              <span
                *ngIf="companyCorrespondencePostalCodeControl.hasError('pattern') && companyCorrespondencePostalCodeControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.postal_code_invalid}}</span>
              <p>Miasto</p><input class="form-register"
                                  [class.error]="!companyCorrespondenceCityControl.valid && companyCorrespondenceCityControl.touched"
                                  id="newInvestorCompanyCityCorrespondence"
                                  [formControl]="companyCorrespondenceCityControl"
                                  name="newInvestorCompanyCityCorrespondence" type="text">
              <span
                *ngIf="companyCorrespondenceCityControl.hasError('required') && companyCorrespondenceCityControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.city_not_given}}</span>
              <span
                *ngIf="companyCorrespondenceCityControl.hasError('pattern') && companyCorrespondenceCityControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.city_invalid}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="(borrowerChosenTypeControl.value) && (!loanApplicationCheckboxControl.value)">
          <p>Imię</p><input class="form-register"
                            [class.error]="!borrowerNameControl.valid && borrowerNameControl.touched"
                            id="newBorrowerName" name="newBorrowerName" type="text" [formControl]="borrowerNameControl">
          <span *ngIf="borrowerNameControl.hasError('required') && borrowerNameControl.touched" class="error"
                style="position: static">{{userRegistrationError.name_not_given}}</span>
          <span *ngIf="borrowerNameControl.hasError('pattern') && borrowerNameControl.touched" class="error"
                style="position: static">{{userRegistrationError.name_invalid_format}}</span>
          <p>Nazwisko</p><input class="form-register"
                                [class.error]="!borrowerSurnameControl.valid && borrowerSurnameControl.touched"
                                id="newBorrowerSurname" [formControl]="borrowerSurnameControl"
                                name="newBorrowerSurname" type="text">
          <span *ngIf="borrowerSurnameControl.hasError('required') && borrowerSurnameControl.touched" class="error"
                style="position: static">{{userRegistrationError.surname_not_given}}</span>
          <span *ngIf="borrowerSurnameControl.hasError('pattern') && borrowerSurnameControl.touched" class="error"
                style="position: static">{{userRegistrationError.surname_invalid}}</span>
          <p>Adres E-Mail</p><input class="form-register"
                                    [class.error]="!borrowerEmailControl.valid && borrowerEmailControl.touched"
                                    id="newBorrowerEmail" [formControl]="borrowerEmailControl"
                                    name="newBorrowerEmail" type="text">
          <span *ngIf="borrowerEmailControl.hasError('required') && borrowerEmailControl.touched" class="error"
                style="position: static">{{userRegistrationError.email_not_given}}</span>
          <span *ngIf="borrowerEmailControl.touched && borrowerEmailControl.hasError('pattern')" class="error"
                style="position: static">{{userRegistrationError.email_bad_format}}</span>
          <p>Numer telefonu</p><input class="form-register"
                                      [class.error]="!borrowerPhoneNumberControl.valid && borrowerPhoneNumberControl.touched"
                                      id="newBorrowerPhone" [formControl]="borrowerPhoneNumberControl"
                                      name="newBorrowerPhone" type="text">
          <span *ngIf="borrowerPhoneNumberControl.hasError('required') && borrowerPhoneNumberControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.phone_not_given}}</span>
          <span *ngIf="borrowerPhoneNumberControl.touched && borrowerPhoneNumberControl.hasError('pattern')"
                class="error"
                style="position: static">{{userRegistrationError.phone_bad_format}}</span>
          <p>Hasło</p><input class="form-register"
                             [class.error]="!borrowerPasswordControl.valid && borrowerPasswordControl.touched"
                             id="newBorrowerPassword" name="newBorrowerPassword" type="password"
                             [formControl]="borrowerPasswordControl">
          <span *ngIf="borrowerPasswordControl.hasError('required') && borrowerPasswordControl.touched" class="error"
                style="position: static">{{userRegistrationError.password_not_given}}</span>
          <p>Powtórz Hasło</p><input class="form-register"
                                     [class.error]="!borrowerRepeatedPasswordControl.valid && borrowerRepeatedPasswordControl.touched"
                                     id="newBorrowerRepeatedPassword" name="newBorrowerRepeatedPassword"
                                     type="password" [formControl]="borrowerRepeatedPasswordControl">
          <span *ngIf="borrowerRepeatedPasswordControl.hasError('required') && borrowerRepeatedPasswordControl.touched"
                class="error"
                style="position: static">{{userRegistrationError.repeated_password_not_given}}</span>
          <span
            *ngIf="borrowerRepeatedPasswordControl.dirty && (borrowerRepeatedPasswordControl.value != borrowerRepeatedPasswordControl.value)"
            class="error" style="position: static">{{userRegistrationError.password_not_match}}</span>
          <span *ngIf="borrowerRepeatedPasswordControl.dirty"
                style="position: static">Podstawowa rejestracja pozwala na dostęp do ograniczonej wersji platformy POSPO. W celu pełnego korzystania z jej możliwości nalezy dokonać pełnej rejestracji.
              Przykładowo dla pożyczki w wysokości 5000 PLN na okres 12 miesięcy, bez pełnej rejestracji uzyskasz RSSO w wysokości 15 %. Po przejściu przez pełną rejestrację uzyskasz 8 %.
          </span>
          <div *ngIf="borrowerChosenTypeControl.value && fullRegistrationCheckboxControl.value">
            <p>Wiek</p><input class="form-register" [class.error]="!ageControl.valid && ageControl.touched"
                              id="newBorrowerAge" name="newBorrowerAge" type="text" [formControl]="ageControl">
            <span *ngIf="ageControl.hasError('required') && ageControl.touched" class="error" style="position: static">{{userRegistrationError.age_not_given}}</span>
            <span *ngIf="ageControl.hasError('pattern') && ageControl.touched" class="error" style="position: static">{{userRegistrationError.age_invalid}}</span>
            <p>Całkowita wysokość aktualnych pożyczek</p><input class="form-register"
                                                                [class.error]="!currentDebtControl.valid && currentDebtControl.touched"
                                                                id="newBorrowerCurrentDebt"
                                                                [formControl]="currentDebtControl"
                                                                name="newBorrowerCurrentDebt" type="text">
            <span *ngIf="currentDebtControl.hasError('required') && currentDebtControl.touched" class="error"
                  style="position: static">{{userRegistrationError.current_debt_not_given}}</span>
            <span *ngIf="currentDebtControl.hasError('pattern') && currentDebtControl.touched" class="error"
                  style="position: static">{{userRegistrationError.current_debt_invalid}}</span>
            <p>Branża zatrudnienia</p>
            <select class="form-register" id="newBorrowerEmploymentArea" name="newBorrowerEmploymentArea"
                    [formControl]="employmentAreaControl">
              <option *ngFor="let area of employmentAreas" [value]="area.value">{{area.name}}</option>
            </select>
            <p>Źródło dochodów</p>
            <select class="form-register" id="newBorrowerIncomeSource" name="newBorrowerIncomeSource"
                    [formControl]="incomeSourceControl">
              <option *ngFor="let source of incomeSources" [value]="source.value">{{source.name}}</option>
            </select>
            <p>Średni dochód miesięczny</p><input class="form-register"
                                                  [class.error]="!averageSalaryControl.valid && averageSalaryControl.touched"
                                                  id="newBorrowerAverageMonthlyIncome"
                                                  [formControl]="averageSalaryControl"
                                                  name="newBorrowerAverageMonthlyIncome" type="text">
            <span *ngIf="averageSalaryControl.hasError('required') && averageSalaryControl.touched" class="error"
                  style="position: static">{{userRegistrationError.monthly_average_income_not_given}}</span>
            <span *ngIf="averageSalaryControl.hasError('pattern') && averageSalaryControl.touched" class="error"
                  style="position: static">{{userRegistrationError.monthly_average_income_invalid}}</span>
            <p>Stan cywilny</p>
            <select class="form-register" id="newBorrowerMaritalStatus" name="newBorrowerMaritalStatus"
                    [formControl]="maritalStatusControl">
              <option *ngFor="let status of maritalStatuses" [value]="status.value">{{status.name}}
              </option>
            </select>
            <p>Okres trwania stanu cywilnego (miesiące)</p><input class="form-register"
                                                                  [class.error]="!maritalStatusPeriodControl.valid && maritalStatusPeriodControl.touched"
                                                                  id="newBorrowerMaritalStatusPeriod"
                                                                  name="newBorrowerMaritalStatusPeriod"
                                                                  type="text"
                                                                  [formControl]="maritalStatusPeriodControl">
            <span *ngIf="maritalStatusPeriodControl.hasError('required') && maritalStatusPeriodControl.touched" class="error"
                  style="position: static">{{userRegistrationError.marital_status_period_in_months_not_given}}</span>
            <span *ngIf="maritalStatusPeriodControl.hasError('pattern') && maritalStatusPeriodControl.touched" class="error"
                  style="position: static">{{userRegistrationError.marital_status_period_in_months_invalid}}</span>
            <p>Liczba osób na utrzymaniu</p>
            <select class="form-register" id="newBorrowerNumberOfDependentPeople"
                    name="newBorrowerNumberOfDependentPeople"
                    [formControl]="numberOfPeopleDependentControl">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>
        <div *ngIf="(borrowerChosenTypeControl.value) && (loanApplicationCheckboxControl.value)">
          <p></p>
          <h1>Dane Pożyczkobiorcy:</h1>
          <br/>
          <p>Imię</p><input class="form-register"
                            [class.error]="!borrowerNameControl.valid && borrowerNameControl.touched"
                            id="newBorrowerWithLoanName" name="newBorrowerWithLoanName" type="text"
                            [formControl]="borrowerNameControl">
          <span *ngIf="borrowerNameControl.hasError('required') && borrowerNameControl.touched" class="error"
                style="position: static">{{userRegistrationError.name_not_given}}</span>
          <span *ngIf="borrowerNameControl.hasError('pattern') && borrowerNameControl.touched" class="error"
                style="position: static">{{userRegistrationError.name_invalid_format}}</span>
          <p>Nazwisko</p><input class="form-register"
                                [class.error]="!borrowerSurnameControl.valid && borrowerSurnameControl.touched"
                                id="newBorrowerWithLoanSurame" [formControl]="borrowerSurnameControl"
                                name="newBorrowerWithLoanSurname" type="text">
          <span *ngIf="borrowerSurnameControl.hasError('required') && borrowerSurnameControl.touched" class="error"
                style="position: static">{{userRegistrationError.surname_not_given}}</span>
          <span *ngIf="borrowerSurnameControl.hasError('pattern') && borrowerSurnameControl.touched" class="error"
                style="position: static">{{userRegistrationError.surname_invalid}}</span>
          <p>Adres E-Mail</p><input class="form-register"
                                    [class.error]="!borrowerEmailControl.valid && borrowerEmailControl.touched"
                                    id="newBorrowerWithLoanEmail" [formControl]="borrowerEmailControl"
                                    name="newBorrowerWithLoanEmail" type="text">
          <span *ngIf="borrowerEmailControl.hasError('required') && borrowerEmailControl.touched" class="error"
                style="position: static">{{userRegistrationError.email_not_given}}</span>
          <span *ngIf="borrowerEmailControl.touched && borrowerEmailControl.hasError('pattern')" class="error"
                style="position: static">{{userRegistrationError.email_bad_format}}</span>
          <p>Numer telefonu</p><input class="form-register"
                                      [class.error]="!borrowerPhoneNumberControl.valid && borrowerPhoneNumberControl.touched"
                                      id="newBorrowerWithLoanPhone" [formControl]="borrowerPhoneNumberControl"
                                      name="newBorrowerWithLoanPhone" type="text">
          <span *ngIf="borrowerPhoneNumberControl.hasError('required') && borrowerPhoneNumberControl.touched" class="error"
                style="position: static">{{userRegistrationError.phone_not_given}}</span>
          <span *ngIf="borrowerPhoneNumberControl.touched && borrowerPhoneNumberControl.hasError('pattern')"
                class="error"
                style="position: static">{{userRegistrationError.phone_bad_format}}</span>
          <p>Hasło</p><input class="form-register"
                             [class.error]="!borrowerPasswordControl.valid && borrowerPasswordControl.touched"
                             id="newBorrowerWithLoanPassword" name="newBorrowerWithLoanPassword"
                             type="password" [formControl]="borrowerPasswordControl">
          <span *ngIf="!borrowerPasswordControl.valid && borrowerPasswordControl.touched" class="error"
                style="position: static">{{userRegistrationError.password_not_given}}</span>
          <p>Powtórz Hasło</p><input class="form-register"
                                     [class.error]="!borrowerRepeatedPasswordControl.valid && borrowerRepeatedPasswordControl.touched"
                                     id="newBorrowerWithLoanRepeatedPassword"
                                     [formControl]="borrowerRepeatedPasswordControl"
                                     name="newBorrowerWithLoanRepeatedPassword" type="password">
          <span *ngIf="!borrowerRepeatedPasswordControl.valid && borrowerRepeatedPasswordControl.touched" class="error"
                style="position: static">{{userRegistrationError.repeated_password_not_given}}</span>
          <span
            *ngIf="borrowerRepeatedPasswordControl.dirty && (borrowerRepeatedPasswordControl.value != borrowerRepeatedPasswordControl.value)"
            class="error" style="position: static">{{userRegistrationError.password_not_match}}</span>
          <span *ngIf="borrowerRepeatedPasswordControl.dirty"
                style="position: static">Podstawowa rejestracja pozwala na dostęp do ograniczonej wersji platformy POSPO. W celu pełnego korzystania z jej możliwości nalezy dokonać pełnej rejestracji.
              Przykładowo dla pożyczki w wysokości 5000 PLN na okres 12 miesięcy, bez pełnej rejestracji uzyskasz RSSO w wysokości 15 %. Po przejściu przez pełną rejestrację uzyskasz 8 %.
          </span>
          <div *ngIf="(userChosenType == 'BORROWER') && fullRegistrationCheckboxControl.value">
            <p>Wiek</p><input class="form-register" [class.error]="!ageControl.valid && ageControl.touched"
                              id="newBorrowerWithLoanAge" name="newBorrowerWithLoanAge" type="text"
                              [formControl]="ageControl">
            <span *ngIf="!ageControl.valid && ageControl.touched" class="error" style="position: static"></span>
            <p>Całkowita wysokość aktualnych pożyczek</p><input class="form-register"
                                                                [class.error]="!currentDebtControl.valid && currentDebtControl.touched"
                                                                id="newBorrowerWithLoanCurrentDebt"
                                                                name="newBorrowerWithLoanCurrentDebt"
                                                                type="text" [formControl]="currentDebtControl">
            <span *ngIf="currentDebtControl.hasError('required') && currentDebtControl.touched" class="error"
                  style="position: static">{{userRegistrationError.current_debt_not_given}}</span>
            <span *ngIf="currentDebtControl.hasError('pattern') && currentDebtControl.touched" class="error"
                  style="position: static">{{userRegistrationError.current_debt_invalid}}</span>
            <p>Branża zatrudnienia</p>
            <select class="form-register" id="newBorrowerWithLoanEmploymentArea"
                    name="newBorrowerWithLoanEmploymentArea"
                    [formControl]="employmentAreaControl">
              <option *ngFor="let area of employmentAreas" [value]="area.value">{{area.name}}</option>
            </select>
            <p>Źródło dochodów</p>
            <select class="form-register" id="newBorrowerWithLoanIncomeSource"
                    name="newBorrowerWithLoanIncomeSource"
                    [formControl]="incomeSourceControl">
              <option *ngFor="let source of incomeSources" [value]="source.value">{{source.name}}</option>
            </select>
            <p>Średni dochód miesięczny</p><input class="form-register"
                                                  [class.error]="!averageSalaryControl.valid && averageSalaryControl.touched"
                                                  id="newBorrowerWithLoanAverageMonthlyIncome"
                                                  [formControl]="averageSalaryControl"
                                                  name="newBorrowerWithLoanAverageMonthlyIncome" type="text">
            <span *ngIf="averageSalaryControl.hasError('required') && averageSalaryControl.touched" class="error"
                  style="position: static">{{userRegistrationError.monthly_average_income_not_given}}</span>
            <span *ngIf="averageSalaryControl.hasError('pattern') && averageSalaryControl.touched" class="error"
                  style="position: static">{{userRegistrationError.monthly_average_income_invalid}}</span>
            <p>Stan cywilny</p>
            <select class="form-register" id="newBorrowerWithLoanMaritalStatus"
                    name="newBorrowerWithLoanMaritalStatus"
                    [formControl]="maritalStatusControl">
              <option *ngFor="let status of maritalStatuses" [value]="status.value">{{status.name}}
              </option>
            </select>
            <p>Okres trwania stanu cywilnego (miesiące)</p><input class="form-register"
                                                                  [class.error]="!maritalStatusPeriodControl.valid && maritalStatusPeriodControl.touched"
                                                                  id="newBorrowerWithLoanMaritalStatusPeriod"
                                                                  name="newBorrowerWithLoanMaritalStatusPeriod"
                                                                  type="text"
                                                                  [formControl]="maritalStatusPeriodControl">
            <span *ngIf="maritalStatusPeriodControl.hasError('required') && maritalStatusPeriodControl.touched" class="error"
                  style="position: static">{{userRegistrationError.marital_status_period_in_months_not_given}}</span>
            <span *ngIf="maritalStatusPeriodControl.hasError('pattern') && maritalStatusPeriodControl.touched" class="error"
                  style="position: static">{{userRegistrationError.marital_status_period_in_months_invalid}}</span>
            <p>Liczba osób na utrzymaniu</p>
            <select class="form-register" id="newBorrowerWithLoanNumberOfDependentPeople"
                    name="newBorrowerWithLoanNumberOfDependentPeople"
                    [formControl]="numberOfPeopleDependentControl">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <br/>
          <p></p>
          <h1>Dane wniosku o pożyczkę:</h1>
          <br/>
          <p>Tytuł wniosku</p><input class="form-register"
                                     [class.error]="!auctionTitleControl.valid && auctionTitleControl.touched"
                                     id="newLoanTitle" [formControl]="auctionTitleControl"
                                     name="newLoanTitle" type="text">
          <span *ngIf="auctionTitleControl.hasError('required') && auctionTitleControl.touched" class="error"
                style="position: static">{{auctionCreationError.title_not_given}}</span>
          <p>Cel pożyczki</p>
          <select class="form-register" id="newLoanTarget" name="newLoanTarget"
                  [formControl]="loanTargetControl">
            <option *ngFor="let target of loanTargets" [value]="target.value">{{target.name}}</option>
          </select>
          <p>Opis</p><textarea rows="10" style="resize: none;" class="form-register" id="newLoanDescription"
                               name="newLoanDescription" [formControl]="auctionDescriptionControl">{{auctionDescriptionControl.value}}</textarea>
          <p>Kwota pożyczki (PLN)</p><input class="form-register"
                                            [class.error]="!auctionAmountControl.valid && auctionAmountControl.touched"
                                            id="newLoanAmount" name="newLoanAmount" type="text"
                                            [formControl]="auctionAmountControl">
          <span *ngIf="auctionAmountControl.hasError('required') && auctionAmountControl.touched" class="error"
                style="position: static">{{auctionCreationError.loan_amount_not_given}}</span>
          <span *ngIf="auctionAmountControl.touched && auctionAmountControl.hasError('pattern')" class="error"
                style="position: static">{{auctionCreationError.loan_amount_in_bad_format}}</span>
          <p>Okres spłaty w miesiącach</p><input class="form-register"
                                                 [class.error]="!auctionPayoffPeriodControl.valid && auctionPayoffPeriodControl.touched"
                                                 id="newLoanPayoffPeriod" name="newLoanPayoffPeriod"
                                                 type="text" [formControl]="auctionPayoffPeriodControl">
          <span *ngIf="auctionPayoffPeriodControl.hasError('required') && auctionPayoffPeriodControl.touched" class="error"
                style="position: static">{{auctionCreationError.payoff_term_not_given}}</span>
          <span *ngIf="auctionPayoffPeriodControl.touched && auctionPayoffPeriodControl.hasError('pattern')"
                class="error"
                style="position: static">{{auctionCreationError.payoff_term_in_bad_format}}</span>
          <p></p>
          <h1 style="color: #2b542c;">Proponowane oprocentowanie: {{calculatedLoanInterestControl.value}}%</h1>
          <br/>
        </div>
        <div *ngIf="(investorChosenTypeControl.value) || (borrowerChosenTypeControl.value)" class="checkboxes">
                    <span [class.error]="false" style="position: static;">
                        <input name="checkbox" value="Regulamin" type="checkbox"
                               [formControl]="agreementContractControl">
                        <span>Akceptuje Regulamin</span>
                        <span *ngIf="false" class="error-txt"></span>
                    </span>
          <span [class.error]="false" style="position: static;">
                        <input name="checkbox" value="Marketing" type="checkbox"
                               [formControl]="agreementMarketingControl">
                        <span>Wyrażam zgodę na marketing</span>
                        <span *ngIf="false" class="error-txt"></span>
                    </span>
        </div>
        <div>
        </div>
        <button
          *ngIf="((borrowerChosenTypeControl.value) || (investorChosenTypeControl.value)) && !phoneVerificationSendCompleted"
          type="submit"
          class="zapisz-dane" (click)="onRegistrationContinue()">Kontynuuj rejestrację
        </button>
        <span *ngIf="unknownErrorControl.value" class="error button">{{userRegistrationError.unknown_error}}</span>
      </form>
    </div>
  </div>
  <div *ngIf="phoneVerificationSendCompleted" class="row infopanel register">
    <div name="phoneVerification" id="phoneVerification">
      <p>Otrzymany kod SMS</p><input class="form-register"
                                     [class.error]="false"
                                     id="phoneVerificationCode" name="phoneVerificationCode" type="text"
                                     [formControl]="phoneVerificationCodeControl">
      <span *ngIf="unknownErrorPhoneVerificationControl.value" class="error"
            style="position: static">{{userRegistrationError.unknown_error}}</span>
      <span *ngIf="phoneVerificationErrorControl.value" class="error"
            style="position: static">{{userRegistrationError.phone_verification_code_invalid}}</span>
      <button type="submit" class="zapisz-dane" (click)="onFinishRegistration()">Dokończ rejestrację</button>
    </div>
  </div>
  <div *ngIf="registrationCompleted" class="row infopanel register">
    <span class="info-header">Dziękujemy za rejestrację na naszym portalu</span>
    <span class="info-txt">Na podany przez Ciebie adres e-mail wysłaliśmy wiadomość z kodem aktywacyjnym.<br><br>Prosimy o kliknięcie w link aktywacyjny bądź wklejenie go w przeglądarkę. Po
        aktywacji adresu email możliwe będzie korzystanie z konta w naszym systemie</span>
    <br/>
    <span class="info-txt">W celu korzystania z naszego systemu wymagana jest rejestracja twojego konta bankowego. W tym celu prosimy o dokonanie przelewu w wysokości 0.01 PLN na konto
            11 1111 1111 1111 1111 1111 1111, podając w tytule: VERIFY234RFGT56678</span>
  </div>
</div>
