<div class="row infopanel register">
    <span class="info-header">Sesja wygasła</span>
    <span class="info-txt">W celu kontynuowania korzystania z serwisu należy ponownie się zalogować</span>
</div>