<header id="header-home">
    <div class="header-txt">
        <h1>Pożyczka <strong>społecznościowa</strong></h1>
        <h2>Tutaj ludzie sami budują bank</h2>
    </div>
    <img src="resources/images/header-image.jpg" alt="Pospo.pl - pożyczki społecznościowe">
</header>
