html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.body-class {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(0, 46, 91);
    font-family: "Lato",sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}


.main-page-header {
    box-sizing: border-box;
    color: rgb(0, 46, 91);
    font-family: "Lato",sans-serif;
    font-size: 14px;
    left: 52.5%;
    line-height: 20px;
    margin-left: -19.4%;
    position: absolute;
    text-align: right;
    top: 18%;
    width: 38%;
}

.main-page-header h1 {
    box-sizing: border-box;
    color: rgb(0, 46, 91);
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 0.4px;
    line-height: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: right;
    text-transform: uppercase;
}

.main-page-header h2 {
    box-sizing: border-box;
    color: rgb(0, 46, 91);
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 28.8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: right;
}

.main-page-header h1 strong {
    box-sizing: border-box;
    color: rgb(0, 46, 91);
    font-family: "Raleway",sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 0.4px;
    line-height: 50px;
    text-align: right;
    text-transform: uppercase;
}

.main-header-home {
    box-sizing: border-box;
    color: rgb(0, 46, 91);
    display: block;
    float: left;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    position: relative;
    width: 100%;
}