/*
 * Copyright 2016 Pospo.pl
 * Designed with love by Grzegorz Tarka / Pure Underground Studio 2016 html://www.pureunderground-studio.pl
 *
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 */
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}

a {
	background-color: transparent;
}

a:active, a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b, strong {
	font-weight: 800;
}

dfn {
	font-style: italic;
}

h1 {
	margin: .67em 0;
	font-size: 2em;
}

mark {
	color: #000;
	background: #ff0;
}

small {
	font-size: 80%;
}

sub, sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	height: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

pre {
	overflow: auto;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	padding: .35em .625em .75em;
	margin: 0 2px;
	border: 1px solid #c0c0c0;
}

legend {
	padding: 0;
	border: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

tr {
	line-height: 2.9em;
	text-align: center;
	border-bottom: 1px solid #dadee7;
}

tr:nth-child(even) {
	background: #fafbfc;
	border-left: 5px solid #9dd041 !important;
}

td, th {
	padding: 10px 0 10px 0;
	text-align: center;
	color: #8c8f94;
	font-weight: 600;
	font-size: 15px;
}

img {
	max-width: 100%;
}

span.error {
	text-align: center;
	font-size: 13px;
	padding: 8px;
	color: #f00;
	font-weight: 600;
	left: 0px;
	top: 31px;
}
body.home span.error {
	position: absolute;
	left: 3px;
}
.login-box {
	position: relative;
}

input.error {
	border: 2px solid #f00 !important;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
	*, *:before, *:after {
		color: #000 !important;
		text-shadow: none !important;
		background: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after, a[href^="javascript:"]:after {
		content: "";
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}

	.navbar {
		display: none;
	}

	.btn > .caret, .dropup > .btn > .caret {
		border-top-color: #000 !important;
	}

	.label {
		border: 1px solid #000;
	}

	.table {
		border-collapse: collapse !important;
	}

	.table td, .table th {
		background-color: #fff !important;
	}

	.table-bordered th, .table-bordered td {
		border: 1px solid #ddd !important;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #002e5b;
	background-color: #f1f3f5;
}

body.home {
	background-color: #fff;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #002e5b;
	text-decoration: none;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

a:hover, a:focus {
	color: #9dd041;
}

a:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

figure {
	margin: 0;
}

img {
	vertical-align: middle;
	max-width: 100%;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

[role="button"] {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 0.4px;
}

p {
	margin: 0 0 10px;
}

small, .small {
	font-size: 85%;
}

mark, .mark {
	padding: .2em;
	background-color: #fcf8e3;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
}

ul ul, ol ul, ul ol, ol ol {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
	margin-bottom: 20px;
}

dt, dd {
	line-height: 1.42857143;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border-left: 5px solid #eee;
}

address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: 1.42857143;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="search"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

input[type="file"] {
	display: block;
}

input[type="range"] {
	display: block;
	width: 100%;
}

select[multiple], select[size] {
	height: auto;
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

output {
	display: block;
	padding-top: 7px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
}

input[type="search"] {
	-webkit-appearance: none;
}

span.yellow {
	color: #fde428;
}

span.blue {
	color: #b1c7e8;
}

span.red {
	color: #f00;
}

span.green {
	color: #9dd041;
	font-weight: 900;
}

span.grey {
	color: #8c8f94;
}

span.error {
	float: right;
	width: 60%;
	margin: -39px 0 0px 0;
	text-align: center;
	font-size: 13px;
	padding: 8px;
	color: red;
	font-weight: 600;
}

span.error.tel {
	width: 100%;
	text-align: right;
}

span.error.kod {
	text-align: left;
}

input.error {
	border: 2px solid red;
}

span.error.button {
	margin-top: -15px;
	width: 100%;
	text-align: center;
	top: 45px;
	width: 100%;
}
body.home span.error.button {
	margin-top: -15px;
	width: 100%;
	text-align: left;
	top: 45px;
}
button.error {
	background-color: red !important;
	box-shadow: 0px 3px 0px 0px red;
	-webkit-box-shadow: 0px 3px 0px 0px red !important;
	-moz-box-shadow: 0px 3px 0px 0px red !important;
	margin-bottom: 20px !important;
}

button.error:hover {
	color: #fff !important;
}

.checkboxes span.error {
	float: left;
	clear: both;
	margin: 0;
	margin-top: 13px;
	border: 2px solid #f00;
	position: relative;
}

span.error-txt {
	width: 100%;
	float: left;
}

select.error {
	border: 2px solid #f00;
}

a.btn {
	background-color: #9dd041;
	box-shadow: 0px 3px 0px 0px #92c33a;
	-webkit-box-shadow: 0px 3px 0px 0px #92c33a;
	-moz-box-shadow: 0px 3px 0px 0px #92c33a;
	border: 0 none;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	padding: 6px 30px 0px 30px;
	display: inline-block;
	margin-left: 2%;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	text-align: center;
	margin-bottom: 10px;
}

a.btn:hover {
	background-color: #313d4f;
	box-shadow: 0px 3px 0px 0px #1b232d;
	-webkit-box-shadow: 0px 3px 0px 0px #1b232d;
	-moz-box-shadow: 0px 3px 0px 0px #1b232d;
}

table a.btn {
	background-color: #9dd041;
	box-shadow: 0px 3px 0px 0px #92c33a;
	-webkit-box-shadow: 0px 3px 0px 0px #92c33a;
	-moz-box-shadow: 0px 3px 0px 0px #92c33a;
	border: 0 none;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	padding: 6px 0px 0px 0px;
	display: inline-block;
	margin-left: 0;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	text-align: center;
	margin-bottom: 10px;
	width: 90%;
	min-width: 100px;
}

button.przelej, button.zapisz-dane, button.zweryfikuj-konto, button.popup-button {
	background-color: #9dd041;
	box-shadow: 0px 3px 0px 0px #92c33a;
	-webkit-box-shadow: 0px 3px 0px 0px #92c33a;
	-moz-box-shadow: 0px 3px 0px 0px #92c33a;
	border: 0 none;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	padding: 6px 14px 0px 14px;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

button.przelej, button.zapisz-dane, button.zweryfikuj-konto, button.popup-button {
	background-color: #183059;
	box-shadow: 0px 3px 0px 0px #002243;
	-webkit-box-shadow: 0px 3px 0px 0px #002243;
	-moz-box-shadow: 0px 3px 0px 0px #002243;
	margin: 0 auto;
	display: block;
	width: 30%;
	clear: both;
	margin-bottom: 20px;
}

button.zapisz-dane.config {
	margin-bottom: 46px;
}

button.przelej:hover, button.zapisz-dane:hover, button.zweryfikuj-konto:hover, button.popup-button:hover, .row.inwestycje.aukcja .column.btn a:hover, form#doladowanie button.przelej:hover {
	background-color: #fde428;
	box-shadow: 0px 3px 0px 0px #ecd62b;
	-webkit-box-shadow: 0px 3px 0px 0px #ecd62b;
	-moz-box-shadow: 0px 3px 0px 0px #ecd62b;
	color: #000;
}

button.popup-button {
	margin-bottom: 30px;
	margin-top: 50px;
}

.checkboxes {
	float: right;
	width: 70%;
	margin-bottom: 20px;
	clear: both;
	margin-bottom: 50px;
}

.checkboxes span {
	margin-left: 1%;
	margin-right: 5%;
}

/* --------------------------------------------------------------------------------------------- MAIN STYLE  */
.navbar {
	width: 100%;
	height: 89px;
	background-color: #fff;
	margin: 0;
}

.navbar .container {
	width: 90%;
	margin: 0 auto;
	height: 100%;
	display: block;
}

.navbar-header {
	float: left;
	width: 20%;
}

.navbar-header {
	padding-top: 26px;
}

.navbar-brand img {
	max-width: 100%;
}

.navbar-collapse {
	float: right;
	width: 80%;
}

ul.navbar-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 50%;
	text-align: center;
	display: inline-block;
}

ul.navbar-nav li {
	line-height: 89px;
	font-size: 16px;
	margin: 0px 20px 0px 20px;
	display: inline;
}

form#login-form {
	padding-top: 27px;
	float: right;
	width: 50%;
}

input#login, input#password {
	border: 1px solid #dcdbdb;
	width: 20%;
	height: 35px;
	padding: 1.5%;
	float: left;
	margin-right: 2%;
}

input#password {
	margin-right: 0;
}

button.login, button.register {
	background-color: #9dd041;
	box-shadow: 0px 3px 0px 0px #92c33a;
	-webkit-box-shadow: 0px 3px 0px 0px #92c33a;
	-moz-box-shadow: 0px 3px 0px 0px #92c33a;
	border: 0 none;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	padding: 6px 14px 0px 14px;
	float: left;
	margin-left: 2%;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

button.register {
	background-color: #183059;
	box-shadow: 0px 3px 0px 0px #002243;
	-webkit-box-shadow: 0px 3px 0px 0px #002243;
	-moz-box-shadow: 0px 3px 0px 0px #002243;
}

button.register:hover, button.login:hover {
	background-color: #fde428;
	box-shadow: 0px 3px 0px 0px #ecd62b;
	-webkit-box-shadow: 0px 3px 0px 0px #ecd62b;
	-moz-box-shadow: 0px 3px 0px 0px #ecd62b;
}

#header-home {
	float: left;
	width: 100%;
	height: auto;
	position: relative;
}

#header-home img {
	max-width: 100%;
	width: 100%;
}

#header-home .header-txt {
	position: absolute;
	width: 38%;
	text-align: right;
	top: 18%;
	left: 52.5%;
	margin-left: -19.4%;
}

.header-txt h1 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1em;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.4px;
}

.header-txt h2 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6em;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.4px;
}

.bg-line {
	float: left;
	width: 100%;
	height: auto;
	background-image: url("../images/line-bg.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.boxy {
	position: relative;
	top: -85px;
}

section#inwestor, section#pozyczkobiorca {
	background-color: #fff;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
	-moz-box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
	box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
	float: left;
	width: 48%;
}

section#pozyczkobiorca {
	float: right;
}

.box-header {
	background-color: #fde428;
	float: left;
	width: 100%;
	height: 85px;
}

.box-header h1 {
	font-weight: 900;
	font-size: 22px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	padding: 10%;
	padding-top: 2px;
	padding-bottom: 0;
	line-height: 1.2em;
	margin: .67em 0;
}

.row.boxy ul {
	float: left;
	width: 100%;
	padding: 10% 15% 0 13%;
	font-size: 17px;
	line-height: 1.2em;
	list-style-type: none;
}

.row.boxy ul li {
	padding-bottom: 15px;
	background-image: url("../images/icon-check.png");
	background-repeat: no-repeat;
	background-position: left 6px;
	padding-left: 25px;
}

.row.boxy fieldset {
	float: left;
	width: 100%;
	padding: 10%;
}

.form-box {
	float: left;
	width: 100%;
}

.form-group {
	float: left;
	width: 100%;
	margin-bottom: 60px;
}

.form-box form label {
	font-size: 13px;
	line-height: 15px;
	color: #002e5b;
	padding: 0;
	font-weight: 900;
	display: block;
	text-align: center;
	float: left;
	width: 15%;
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

.text-section .form-box form .form-group .slider {
	height: 40px;
}

.form-box form .form-group .slider {
	border-radius: 50px;
	position: relative;
	height: 7px;
	background-color: #dddddd;
	float: right;
	width: 82%;
	margin-top: 11px;
	margin-left: 0;
}

.form-box form .form-group .slider::before {
	content: " ";
	position: absolute;
	width: 24px;
	height: 7px;
	top: 0;
	left: 1px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #9dd041;
}

.form-box form .form-group .value {
	top: -30px;
	right: 0;
	width: auto;
	font-size: 18px;
	line-height: 24px;
}

.form-box form .form-group .value {
	font-size: 13px;
	line-height: 13px;
	color: #002e5b;
	padding: 0;
	margin-left: -50px;
	font-weight: 900;
	text-align: center;
	position: absolute;
	top: -26px;
	left: 50%;
	width: 100px;
	height: 20px;
	z-index: 100;
}

.text-section .form-box {
	left: 20px;
	right: 20px;
}

.ui-slider {
	position: relative;
	text-align: left;
	height: .8em;
	left: 21px;
	right: 21px;
	position: absolute;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	left: 0;
	top: 0;
	height: 7px;
	margin-left: 0;
	background-color: #9dd041;
}

.ui-slider .ui-slider-handle {
	top: -11px;
	padding: 0;
	border-radius: 50px;
	background-color: #05a62d;
	-webkit-transition: none;
	transition: none;
	position: absolute;
	z-index: 2;
	width: 30px;
	height: 30px;
	cursor: pointer;
	-ms-touch-action: none;
	touch-action: none;
	-o-transition: background-color .5s;
	-ms-transition: background-color .5s;
	-moz-transition: background-color .5s;
	-webkit-transition: background-color .5s;
	transition: background-color .5s;
}

.ui-slider .ui-slider-handle:hover {
	background-color: #002e5b;
}

.ui-slider .ui-slider-handle:focus {
	outline: none;
	background-color: #002e5b;
}

.text-section .form-box .ui-slider .ui-slider-handle::before {
	width: 34px;
	top: 2px;
}

.ui-slider .ui-slider-handle::before {
	content: "";
	position: absolute;
	line-height: 30px;
	color: #6fc754;
	font-weight: bold;
	text-align: center;
	width: 24px;
	height: 24px;
	top: 3px;
	left: 3px;
	text-indent: 0;
	border: 3px solid #fff;
	border-radius: 50px;
}

.form-box form .form-group input {
	position: absolute;
	top: 0;
	left: -99999px;
}

img.inwestor-header-img {
	max-width: 110px;
	margin: 0 auto;
	display: block;
	padding-top: 10%;
}

button.btn {
	background-color: #002e5b;
	-webkit-box-shadow: 0px 3px 0px 0px #002243;
	-moz-box-shadow: 0px 3px 0px 0px #002243;
	box-shadow: 0px 3px 0px 0px #002243;
	border: 0 none;
	width: 200px;
	height: 42px;
	z-index: 283;
	color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-weight: 900;
	font-size: 19px;
	margin: 0 auto;
	display: block;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

button.btn:hover {
	background-color: #9dd041;
	box-shadow: 0px 3px 0px 0px #92c33a;
}

a.more {
	color: #9dd041;
	font-weight: 700;
	font-size: 1.3em;
	text-align: center;
	float: left;
	width: 100%;
	text-decoration: underline;
	line-height: 2em;
	margin-top: 20px;
}

a.more:hover {
	color: #002e5b;
}

.schemat {
	text-align: right;
	margin-top: -70px;
	padding-right: 46px !important;
}

body.home .col-l {
	float: left;
	width: 50%;
}

body.home .col-r {
	float: right;
	width: 50%;
}

.jak-to-dziala h2 {
	margin-top: 0px;
	font-size: 2.5em;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: 0.4px;
	font-family: 'Raleway', sans-serif;
}

.jak-to-dziala p {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.7em;
	color: #8c8f94;
	width: 90%;
	padding-bottom: 20px;
	padding-top: 25px;
	margin: 0;
}

.video {
	margin-top: 67px;
	margin-bottom: 50px;
	position: relative;
	width: 100%;
	height: 100%;
}

video#bgvid {
	max-width: 100%;
}

.video-play {
	width: 100%;
	height: 91%;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jak-to-dziala h3 {
	text-align: center;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-bottom: 55px;
	letter-spacing: 1px;
}

section#licznik {
	width: 100%;
	min-height: 370px;
	float: left;
	background-image: url("../images/wliczbach-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 60px;
}

section#licznik h2 {
	font-weight: 500;
	color: #fff;
	text-align: center;
	position: relative;
	margin-top: 78px;
	margin-bottom: 61px;
	font-size: 2.5em;
	line-height: 1.1;
	font-family: 'Raleway', sans-serif;
}

section#licznik h2::before {
	background-image: url("../images/icon-check-big.png");
	background-repeat: no-repeat;
	background-position: left 6px;
	position: absolute;
	width: 46px;
	height: 33px;
	display: block;
	right: 50%;
	margin-right: 146px;
	content: ' ';
}

span.yellow {
	color: #fde428;
}

.l-uzytkownicy, .r-pozyczki {
	color: #fde428;
	font-weight: 900;
	font-size: 3.5em;
	letter-spacing: 1px;
	padding-left: 60px;
	position: relative;
}

.l-uzytkownicy::before {
	background-image: url("../images/icon-uzytkownicy.png");
	background-repeat: no-repeat;
	background-position: left 18px;
	position: absolute;
	width: 51px;
	height: 64px;
	display: block;
	left: 0;
	content: ' ';
}

.r-pozyczki::before {
	background-image: url("../images/icon-pozyczki.png");
	background-repeat: no-repeat;
	background-position: 11px 18px;
	position: absolute;
	width: 51px;
	height: 64px;
	display: block;
	left: 0;
	content: ' ';
}

section#licznik .col-l, section#licznik .col-r {
	padding-left: 10% !important;
	text-align: left;
}

section#licznik .txt {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
	font-size: 17px;
	padding-left: 60px;
	line-height: 1.1em;
	margin-top: -10px;
	float: none;
}

body.home a.btn {
	background-color: #9dd041;
	-webkit-box-shadow: 0px 3px 0px 0px #92c33a;
	-moz-box-shadow: 0px 3px 0px 0px #92c33a;
	box-shadow: 0px 3px 0px 0px #92c33a;
	border: 0 none;
	height: 42px;
	z-index: 283;
	color: #fff;
	width: 187px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-weight: 400;
	font-size: 16px;
	display: block;
	text-align: center;
	line-height: 42px;
	margin-bottom: 20px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	letter-spacing: 0px;
	text-transform: initial;
}

body.home a.btn::before {
	background-image: url("../images/icon-arrow.png");
	background-repeat: no-repeat;
	background-position: right 16px;
	position: absolute;
	width: 19px;
	height: 37px;
	display: block;
	right: 12%;
	content: ' ';
}

a.btn.inwestor::before {
	right: 24%;
}

a.btn:hover, body.home a.btn:hover {
	background-color: #002e5b;
	-webkit-box-shadow: 0px 3px 0px 0px #002243;
	-moz-box-shadow: 0px 3px 0px 0px #002243;
	box-shadow: 0px 3px 0px 0px #002243;
}

section#aukcje {
	float: left;
	width: 100%;
	margin-top: 20px;
}

section#aukcje h2 {
	text-align: center;
	font-size: 2.5em;
	font-weight: 600;
	line-height: 1.1em;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.4px;
	margin-top: 30px;
	margin-bottom: 50px;
}

body.home .legend {
	padding: 2%;
	width: initial;
}

span.legend-box {
	width: 48px;
	height: 12px;
	display: block;
	float: left;
	margin-right: 10px;
}

section#partnerzy {
	float: left;
	width: 100%;
	background-color: #f1f3f5;
}

ul.logos {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

ul.logos li {
	display: inline;
}

section#referencje {
	float: left;
	width: 100%;
	background-color: #183653;
	min-height: 360px;
	position: relative;
}

section#referencje .mask {
	background-image: url("../images/referencje-mask-bg.svg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0.05;
}

ul.ref {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

ul.ref li {
	font-size: 18px;
	text-align: center;
	line-height: 1.8em;
	padding: 7%;
}

span.txt, span.name {
	float: left;
	width: 100%;
	margin-bottom: 30px !important;
}

span.name {
	color: #fde428;
	font-weight: 700;
}
.profile span.name, .profile span.role {
	font-weight: 600;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	text-align: right;
	line-height: 1.42857143;
	color: #002e5b;
	margin-bottom: 0px !important;
}
.profile span.role {
	color: #8c8f94;
	font-size: 14px;
}
.dots {
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 30px;
}

span.dot {
	width: 15px;
	height: 15px;
	display: inline-block;
	cursor: pointer;
	margin: 6px;
	background-color: #fff;
	box-shadow: none !important;
	border: 10px;
	border-radius: 50%;
	opacity: .5;
	filter: alpha(opacity=50);
	text-align: center;
}

span.dot.active {
	opacity: 1;
	filter: alpha(opacity=10);
}

footer .col-l {
	width: 25%;
}

footer .col-r {
	width: 75%;
}

footer .txt {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6em;
	color: #8c8f94;
	margin-top: 37px;
}

span.phone, span.mail {
	float: left;
	width: 100%;
	font-weight: 900;
	font-size: 19px;
	padding-bottom: 16px;
}

span.mail a {
	color: #002e5b;
}

span.mail a:hover {
	color: #9dd041;
}

span.phone img, span.mail img {
	padding-right: 14px;
}

footer .col-r .row {
	width: 100%;
	float: left;
}

.col-menu {
	width: 25%;
	float: left;
	padding-left: 5%;
}

.col-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 40px;
}

.col-menu ul li {
	padding-bottom: 10px;
}

footer h4 {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

.row.copyright .col-r {
	text-align: right;
}

.row.copyright a {
	float: right;
	margin-left: 15px;
}

.navbar [type="checkbox"], label {
	display: none;
}

/* --------------------------------------------------------------------------------------------- MAIN STYLE  */
.main {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.main::after {
	background-color: #313d4f;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	width: 260px;
}

.navbar {
	width: 100%;
	height: 89px;
	background-color: #fff;
	margin: 0;
}

.navbar .container {
	width: 90%;
	margin: 0 auto;
	height: 100%;
	display: block;
}

.navbar-header {
	float: left;
	width: 20%;
}

.navbar-header {
	padding-top: 26px;
}

.navbar-brand img {
	max-width: 100%;
}

.navbar-collapse {
	float: right;
	width: 80%;
}

ul.navbar-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 50%;
	text-align: center;
	display: inline-block;
}

ul.navbar-nav li {
	line-height: 89px;
	font-size: 16px;
	margin: 0px 20px 0px 20px;
	display: inline;
}

.profile {
	padding-top: 14px;
	float: right;
	width: 50%;
}

.avatar {
	float: right;
}

.avatar img {
	border-radius: 50%;
	max-width: 61px;
}

.txt {
	float: right;
	padding-top: 9px;
}
.profile .txt {
	margin-right: 20px;
}
body.home span.name, body.home span.role {
	font-weight: 600;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	text-align: center;
}

span.role {
	color: #8c8f94;
	font-size: 14px;
}

body.home .container {
	position: initial;
}

.container {
	width: 1195px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.row {
	width: 98%;
	padding-left: 2%;
	float: left;
}

.col-l {
	float: left;
	width: 49%;
	position: relative;
}

.col-r {
	float: right;
	width: 49%;
}

nav.leftmenu {
	width: 260px;
	background-color: #313d4f;
	position: absolute;
	z-index: 3;
	overflow: hidden;
}

ul.leftmenu-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.leftmenu-nav li {
	display: block;
	width: 100%;
}

ul.leftmenu-nav li a {
	padding-left: 69px;
	color: #fff;
	font-size: 1.2em;
	line-height: 82px;
	height: 82px;
	display: block;
	background-repeat: no-repeat;
	background-position-x: 13%;
	background-position-y: center;
}

ul.leftmenu-nav li.podsumowanie a {
	background-image: url("../images/menu-icons/icon-summary.png");
}

ul.leftmenu-nav li.inwestycje a {
	background-image: url("../images/menu-icons/icon-investitions.png");
}

ul.leftmenu-nav li.zainwestuj a {
	background-image: url("../images/menu-icons/icon-invest.png");
}

ul.leftmenu-nav li.rynekwtorny a {
	background-image: url("../images/menu-icons/icon-wallet.png");
}

ul.leftmenu-nav li.operacje a {
	background-image: url("../images/menu-icons/icon-operations.png");
}

ul.leftmenu-nav li.statystyki a {
	background-image: url("../images/menu-icons/icon-stats.png");
}

ul.leftmenu-nav li.przelaczprofil a {
	background-image: url("../images/menu-icons/icon-switch-profile.png");
}

ul.leftmenu-nav li a:hover, ul.leftmenu-nav li.current a {
	background-color: #9dd041;
}

header#header-panel {
	width: 100%;
	background-color: #313d4f;
	min-height: 82px;
	position: absolute;
	z-index: 2;
	padding-left: 260px;
}

header#header-panel.register {
	text-align: center;
	padding: 0;
	min-height: 84px;
}

header#header-panel .col-l {
	width: auto;
}

header#header-panel .col-r {
	width: auto;
	text-align: right;
}

header#header-panel h1 {
	font-weight: 600;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	padding-left: 52px;
	line-height: 82px;
	color: #fff;
}

header#header-panel h4 {
	font-weight: 600;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	line-height: 82px;
	padding-right: 52px;
	color: #fff;
	margin: 0;
	z-index: 1;
}

.content {
	background-color: #f1f3f5;
	position: relative;
	padding-top: 131px;
	float: left;
	width: 100%;
	padding-left: 260px;
	padding-bottom: 70px;
	min-height: 700px;
}

.content.register {
	padding-left: 0;
}

.row.infopanel.register {
	background-color: #fff;
	padding: 10%;
	width: 100%;
}

span.info-header {
	text-align: center;
	font-weight: 800;
	font-size: 27px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	display: block;
	color: #313d4f;
	line-height: 1.1em;
	float: left;
	width: 100%;
}

span.info-txt {
	text-align: center;
	font-weight: 100;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	display: block;
	color: #8c8f94;
	margin-top: 10px;
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.boxes {
	float: left;
	width: 100%;
	text-align: center;
}

.infopanel .box {
	width: 27%;
	margin: 2%;
	text-align: center;
}

.box {
	background-color: #fff;
	border: 1px solid #d0d6e0;
	display: inline-block;
	box-shadow: 0px 3px 0px 0px rgb(225, 229, 234);
}

.row.przelej-srodki .box, .row.register .box {
	padding: 3%;
}

.box.doladowanie .col-l {
	color: #8c8f94;
	font-weight: 600;
	font-size: 17px;
	width: 40%;
}

.box.doladowanie .col-r {
	text-align: justify;
	font-weight: 100;
	font-size: 15px;
	color: #8c8f94;
	width: 60%;
}

.infopanel .box img {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.infopanel .box p {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

a.btn.more {
	margin-bottom: 30px;
}
.boxes a.btn.more {
	background-color: #9dd041;
	box-shadow: 0px 3px 0px 0px #92c33a;
	-webkit-box-shadow: 0px 3px 0px 0px #92c33a;
	-moz-box-shadow: 0px 3px 0px 0px #92c33a;
	border: 0 none;
	line-height: 26px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	padding: 6px 30px 0px 30px;
	display: inline-block;
	margin-left: 0;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	text-align: center;
	margin-bottom: 10px;
	float: none;
	text-decoration: none;
	width: auto;
}
span.row-header {
	width: 100%;
	float: left;
	position: relative;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 40px;
}

span.row-header:after {
	background-color: #d0d6e0;
	height: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	content: '';
	z-index: 0;
}

span.row-header h2 {
	font-weight: 800;
	text-align: center;
	background-color: #fde428;
	display: inline-block;
	margin: 0 auto;
	padding: 15px 30px 15px 30px;
	width: auto;
	text-align: center;
	z-index: 1;
	position: relative;
	margin: 0 10px 0 10px;
	min-width: 260px;
	margin: 10px;
}

span.row-header h2.inactive {
	color: #888972;
	background-color: #f9ed96;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

span.row-header h2.inactive:hover {
	color: #002e5b;
	background-color: #fde428;
}

.back {
	width: 98%;
	padding-left: 2%;
	float: left;
}

.back a {
	background-image: url("../images/icon-arrow-l.png");
	background-repeat: no-repeat;
	line-height: 25px;
	height: 35px;
	display: block;
	font-size: 18px;
	font-weight: 800;
	padding-left: 25px;
}

.row.frontstats .box {
	width: 100%;
	min-height: 366px;
}

.box.opis-aucji {
	padding-top: 43px;
}

.row.frontstats table tbody {
	border: 0 none;
}

td.column-1 {
	color: #8c8f94;
	font-weight: 600;
	font-size: 17px;
	width: 65%;
	border-right: 1px solid #d0d6e0;
}

.box.aukcja-table.user td {
	color: #8c8f94;
	font-weight: 600;
	font-size: 15px;
	width: 65%;
	border-right: 0 none;
	padding: 0;
}

.row.inwestycje.aukcja .box .aukcja-table.user tbody, .row.inwestycje.aukcja .box .aukcja-table.user tr, .row.inwestycje.aukcja .box .aukcja-table.user td {
	border: 0 none !important;
}

td.column-2 {
	color: #313d4f;
	font-weight: 600;
	font-size: 17px;
	width: 35%;
}

.chart {
	width: 60%;
	float: left;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 53px;
}

.legend {
	float: left;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1em;
	line-height: 1em;
	width: 40%;
	padding-top: 48px;
	padding-bottom: 53px;
}

.legend-s {
	width: 100%;
	float: left;
	padding-bottom: 35px;
	padding-top: 17px;
}

span.legend-box {
	width: 48px;
	height: 12px;
	display: block;
	float: left;
	margin-right: 10px;
}

.row.myloans .box, .row.myauctions .box, .row.activity .box, .row.inwestycje .box {
	width: 100%;
	background-color: transparent;
	border: 0 none;
}

table thead tr {
	background-color: transparent;
	color: #8c8f94;
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}

table thead th {
	padding: 5px 0 0px 0;
	line-height: 1.4em;
	padding-bottom: 10px;
	padding-left: 1%;
	padding-right: 1%;
}

table tr {
	background-color: #fff;
}

table tbody {
	border: 1px solid #dadee7;
}

td.column {
	border-right: 1px solid #dadee7;
	line-height: 1.3em;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 5%;
}

.row.inwestycje.aukcja .box.aukcja-table td.column {
	padding: 20px 0 20px 0;
}

td.column.status {
	border-right: 0 none;
}

td.column.wydarzenie {
	color: #000;
}

td.column.number {
	width: 6%;
}

td.column.kapital {
	padding-top: 21px;
	padding-bottom: 0;
}

.row.inwestycje table td {
	color: #000;
}

.row.inwestycje table .column.opis {
	color: #8c8f94;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	font-weight: 500;
	width: 24%;
}

.row.inwestycje .slider {
	margin-top: 10px;
	margin-bottom: 10px;
}

td.column.aukcjeid {
	text-align: left;
	padding-left: 20px;
	width: 15%;
}

.user .avatar {
	float: none;
}

.row.inwestycje p {
	margin: 0;
	line-height: 1.4em;
	width: 100%;
	float: left;
}

td.column.user {
	width: 12%;
}

td.column.warunki {
	width: 13%;
}

.row.inwestycje td.column.btn {
}

span.comment-ammount {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 10px;
	position: absolute;
	left: -8px;
	top: -11px;
	background-color: #9dd042;
	color: #fff;
	font-size: 12px;
	line-height: 1em;
	padding: 4px;
}

.row.inwestycje.aukcja table thead tr {
	background-color: #9dd041;
	color: #fff;
}

.row.inwestycje.aukcja table thead tr th {
	color: #fff;
	padding-top: 11px;
}

.row .box.aukcja {
	background-color: #9dd041;
	float: left;
	width: 100%;
	padding: 5px;
}

.row.inwestycje.aukcja .box {
	box-shadow: none;
	margin-bottom: -5px;
}

.row.inwestycje.aukcja .column.btn {
	background-color: #9dd041;
	border: 3px solid #9dd041;
}

.row.inwestycje.aukcja tbody, .row.inwestycje.aukcja tr {
	border: 5px solid #9dd041;
}

.row.inwestycje.aukcja .column.btn a {
	background-color: #313d4f;
	box-shadow: 0px 3px 0px 0px #1b232d;
	-webkit-box-shadow: 0px 3px 0px 0px #1b232d;
	-moz-box-shadow: 0px 3px 0px 0px #1b232d;
}

.row .box.aukcja-txt {
	float: left;
	background-color: #fff;
	margin-bottom: 0px !important;
	margin-top: -10px;
}

.aukcja-txt-header {
	float: left;
	text-align: center;
	width: 100%;
	font-weight: 600;
	font-size: 15px;
	color: #fff;
	background-color: #9dd041;
	padding-bottom: 18px;
	padding-top: 18px;
}

.row .box.aukcja-txt .col-l, .row .box.aukcja-txt .col-r {
	width: 50%;
	float: left;
}

.row .box.aukcja-txt .col-l {
	border-right: 1px solid #d0d6e0;
}

.box.aukcja-table {
	padding: 3%;
}

.row.inwestycje.aukcja .box .aukcja-table table thead tr {
	background-color: transparent;
	border-left: 0 none;
}

.row.inwestycje.aukcja .box .aukcja-table table thead th {
	color: #8c8f94;
}

.row.inwestycje.aukcja .box .aukcja-table tbody, .row.inwestycje.aukcja .box .aukcja-table tr {
	border: 0 none;
	border-bottom: 1px solid #dadee7;
	border-left: 1px solid #dadee7;
}

.obserwuj {
	width: 50%;
	float: left;
	padding-top: 32px;
}

.zainwestuj-aukcja {
	float: left;
	width: 50%;
	background-color: #9dd041;
	color: #fff;
	padding: 3%;
}

.zainwestuj-aukcja input#przelej {
	border: 1px solid #dcdbdb;
	padding: 1%;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	color: #000;
}

.zainwestuj-aukcja #doladowanie p {
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.zainwestuj-aukcja form#doladowanie button.przelej {
	width: 100%;
	clear: none;
}

.zainwestuj-aukcja button.przelej {
	background-color: #183059;
	box-shadow: 0px 3px 0px 0px #002243;
	-webkit-box-shadow: 0px 3px 0px 0px #002243;
	-moz-box-shadow: 0px 3px 0px 0px #002243;
	margin: 0 auto;
	display: block;
	width: 20%;
	clear: none;
}

.box.aukcja-table.user, .box.chart {
	min-height: 462px;
	margin: 0;
}

a.comment {
	position: relative;
}

.slider {
	border-radius: 50px;
	position: relative;
	height: 7px;
	background-color: #ddd;
	float: left;
	width: 70%;
	margin-left: 15%;
}

.slider::before {
	content: " ";
	position: absolute;
	width: 24px;
	height: 7px;
	top: 0;
	left: 1px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #9dd041;
}

.slider .ui-slider {
	position: relative;
	text-align: left;
	height: .8em;
	left: 21px;
	right: 21px;
	position: absolute;
}

.slider .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	left: 0;
	top: 0;
	height: 7px;
	margin-left: 0;
	background-color: #9dd041;
}

td.column.sldr {
	width: 15%;
	padding-top: 0px;
}

td.column.btn {
	width: 170px;
}

.row.activity td.column.btn {
	width: 25%;
}

span.slider-txt {
	width: 100%;
	float: left;
	line-height: 2.3em;
}

span.slider-txt.all {
	text-align: center;
	color: #313d4f;
	font-weight: 600;
	font-size: 17px;
}

.opis-txt {
	color: #8c8f94;
	font-weight: 100;
	font-size: 15px;
	width: 80%;
	margin: 0 auto;
	padding-top: 50px;
	clear: both;
}

.opis-txt h1 {
	font-weight: 800;
	font-size: 21px;
	color: #313d4f;
	line-height: 1.1em;
	text-align: center;
}

.row.myauctions td.column.btn {
}

a.status {
	padding: 0 30px 0 30px;
}

.filters {
	width: 100%;
	float: left;
	text-align: right;
	margin-bottom: 40px;
}

select.orderby {
	font-size: 15px;
	padding: 11px;
	border: 1px solid #dadee7;
	color: #8c8f94;
}

.pagination {
	float: left;
	width: 100%;
	margin-top: 50px;
}

.pagination ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.pagination ul li {
	display: inline-block;
	line-height: 0.7em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pagination ul li a {
	display: block;
	background-color: #fff;
	font-weight: 800;
	padding: 15px;
}

.pagination ul li a:hover, .pagination ul li a.active {
	background-color: #313d4f;
	color: #fff;
}

.pagination ul li.pagination-left a, .pagination ul li.pagination-right a {
	background: transparent;
	padding: 0 20px 0 20px;
}

.box {
	width: 100%;
}

.row.register .box {
	width: 65%;
	margin: 0 auto;
	float: none;
	display: block;
}

input#przelej, .form-register {
	border: 1px solid #dcdbdb;
	padding: 0.7%;
	padding-bottom: 0.5%;
	width: 60%;
	float: left;
	margin-bottom: 43px;
}

#doladowanie p, form#register p {
	line-height: 35px;
	margin: 0;
	width: 40%;
	font-size: 20px;
	float: left;
}

form#register p {
	text-align: right;
	padding-right: 34px;
	line-height: 1em;
	padding-top: 6px;
	clear: both;
}

form#register h3 {
	font-weight: 800;
	font-size: 27px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	display: block;
	color: #313d4f;
	line-height: 1.1em;
	float: left;
	width: 100%;
	border-bottom: 1px solid #dcdbdb;
	margin-bottom: 36px;
	padding-bottom: 10px;
	padding-top: 28px;
}

select#register.form-register.half {
	width: 30%;
	float: left;
}

input#register.form-register.half {
	width: 20%;
	float: right;
}

.reg-adres, .reg-account {
	float: right;
	width: 60%;
}

.reg-adres .col {
	width: 50%;
	float: left;
}

form#register .reg-adres .col p {
	float: left;
	width: 60% !important;
}

.reg-adres .col input#register {
	width: 40%;
	padding: 1.6%;
}

input#register.kod {
	width: 14%;
}

button.zweryfikuj-konto {
	float: right;
	clear: none;
	width: 40%;
}

.reg-account input {
	width: 50%;
	padding: 1%;
}

#popupbox {
	position: absolute;
	width: 100%;
	background-color: rgba(49, 61, 79, 0.93);
	height: 100%;
	z-index: 20;
	top: 0;
	left: 0;
}

span.close-popup {
	text-align: right;
	width: 100%;
	float: left;
	font-size: 1.6em;
	font-weight: 800;
}

.row.popup {
	position: fixed;
	width: 100%;
	padding: 5%;
	float: none;
	z-index: 10;
	top: 90px;
}

.row.popup .box {
	padding: 4%;
	padding-top: 2%;
	box-shadow: none;
	border: 1px solid #313d4f;
	-webkit-box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
	-moz-box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
	box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
}

.row.popup h2 {
	font-weight: 800;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	padding: 0;
	margin: 0;
	line-height: 82px;
	text-align: center;
	margin-top: 2px;
	float: left;
	width: 100%;
}

p.popup-msg {
	color: #8c8f94;
	font-weight: 600;
	font-size: 17px;
}

body.home .row {
	width: 100%;
	float: left;
	padding: 0;
}

footer {
	float: left;
	width: 100%;
	padding-top: 60px;
	background-color: #fff;
	z-index: 3;
	position: relative;
}

footer .row {
	width: 100%;
	padding: 0;
}

footer .col-l, body.home footer .col-l {
	width: 25%;
}

footer .col-r, body.home footer .col-r {
	width: 75%;
}

footer .txt {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6em;
	color: #8c8f94;
	margin-top: 37px;
	margin-bottom: 30px;
	float: left;
}

span.phone, span.mail {
	float: left;
	width: 100%;
	font-weight: 900;
	font-size: 19px;
	padding-bottom: 16px;
}

span.mail a {
	color: #002e5b;
}

span.mail a:hover {
	color: #9dd041;
}

span.phone img, span.mail img {
	padding-right: 14px;
}

footer .col-r .row {
	width: 100%;
	float: left;
}

.col-menu {
	width: 25%;
	float: left;
	padding-left: 5%;
}

.col-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 40px;
}

.col-menu ul li {
	padding-bottom: 10px;
}

footer h4 {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.9em;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

.row.copyright {
	margin-bottom: 8px;
	padding-top: 16px !important;
	line-height: 39px;
	color: #8c8f94;
	border-top: 1px solid #f4f4f4;
	float: left !important;
}

.row.copyright .col-r {
	text-align: right;
}

.row.copyright a {
	float: right;
	margin-left: 15px;
}

.navbar [type="checkbox"], label {
	display: none;
}

/* --------------------------------------------------------------------------------------------- MEDIA QUERIES  */
@media (max-width: 1440px) {
	.navbar-header {
		width: 10%;
		padding-top: 35px;
	}

	.navbar-collapse {
		width: 90%;
	}

	.row.register .box {
		width: 95%;
	}

	ul.navbar-nav li {
		margin: 0px 10px 0px 10px;
	}

	#header-home .header-txt {
		position: absolute;
		width: 50%;
		text-align: right;
		top: 18%;
		left: 39.5%;
		margin-left: -19.4%;
	}

	.header-txt h1 {
		font-size: 30px;
	}

	.navbar-header {
		width: 10%;
		padding-top: 33px;
	}

	.navbar-collapse {
		width: 90%;
	}

	.box-header h1 {
		font-size: 20px;
		padding: 7%;
		padding-top: 4px;
	}
}

@media (max-width: 1220px) {
	.container {
		width: 95%;
	}

	.navbar .container {
		width: 97%;
	}

	ul.navbar-nav li {
		margin: 0px 10px 0px 10px;
	}

	.navbar-header {
		width: 10%;
		padding-top: 33px;
	}

	.navbar-collapse {
		width: 90%;
	}

	nav.leftmenu {
		width: 160px;
	}

	.content {
		padding-left: 160px;
	}

	.main::after {
		width: 160px;
	}

	ul.leftmenu-nav li a {
		padding-left: 50px;
		color: #fff;
		font-size: 1em;
		padding-top: 32px;
		height: 82px;
		line-height: 1.1em;
		display: block;
		background-repeat: no-repeat;
		background-position-x: 10%;
		background-position-y: center;
	}

	header#header-panel {
		padding-left: 160px;
	}

	.row.frontstats .col-l, .row.frontstats .col-r {
		width: 100%;
	}

	#doladowanie p {
		font-size: 14px;
	}

	a.status {
		padding: 0 5px 0 5px;
	}

	span.row-header h2 {
		font-size: 18px;
	}

	span.row-header:after {
		display: none;
	}
}

@media (max-width: 1024px) {
	.box-header h1 {
		font-size: 17px;
		padding: 3%;
		padding-top: 10px;
		line-height: 1em;
	}

	.navbar-collapse {
		display: none;
	}

	.navbar label {
		display: block;
		width: 40px;
		height: 86px;
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 0px;
		z-index: 10;
	}

	.navbar label:after {
		content: '';
		display: block;
		width: 30px;
		height: 5px;
		background: #183059;
		margin: 31px 5px;
		-webkit-box-shadow: 0px 10px 0px #183059, 0px 20px 0px #183059;
		-moz-box-shadow: 0px 10px 0px #183059, 0px 20px 0px #183059;
		box-shadow: 0px 10px 0px #183059, 0px 20px 0px #183059;
	}

	span.error {
		width: 100% !important;
		margin-top: -21px;
		text-align: center !important;
	}
	body.home span.error {
		margin-top: -12px;
		text-align: left !important;
	}
	form#login-form {
		padding-top: 0px;
	}
	[type="checkbox"]:checked ~ .navbar-collapse {
		display: block;
		z-index: 9999;
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		top: 89px;
		padding-bottom: 30px;
	}

	.navbar-header {
		width: 100%;
		padding-top: 33px;
		text-align: center;
	}

	header#header-panel h1, header#header-panel h4 {
		font-size: 15px;
	}

	#doladowanie p {
		font-size: 14px;
	}

	#doladowanie p {
		font-size: 20px;
		width: 100%;
		text-align: center;
	}

	input#przelej, .form-register {
		width: 100%;
		margin-bottom: 18px;
		float: left;
	}

	form#register p {
		text-align: center;
		padding-right: 0px;
		line-height: 1.2em;
		font-size: 18px;
		padding-top: 6px;
		width: 100%;
		margin-top: 25px;
		margin-bottom: 20px;
	}

	button.przelej, button.zapisz-dane {
		width: 50%;
	}

	form#register h3 {
		text-align: center;
	}

	.checkboxes {
		float: left;
		width: 100%;
		margin-bottom: 20px;
		clear: both;
		margin-bottom: 50px;
	}

	input[type="checkbox"] {
		width: 100%;
		margin-top: 20px;
	}

	.checkboxes span {
		margin: 0;
		width: 100%;
		float: left;
		text-align: center;
		margin-bottom: 10px;
	}

	select#register.form-register.half, input#register.form-register.half, .reg-adres .col input#register, input#register.kod, .reg-account input {
		width: 100%;
		float: left;
		padding: 0.7% !important;
	}

	form#register .reg-adres .col p {
		text-align: center;
		width: 100% !important;
	}

	.reg-adres, .reg-accountv, .reg-adres .col, .reg-account {
		float: left;
		width: 100%;
		padding: 0 !important;
		padding-bottom: 0;
	}

	button.zweryfikuj-konto, button.popup-button {
		float: none;
		width: 50%;
	}

	a.btn {
		font-size: 0.9em !important;
	}

	.row .box.aukcja-txt .col-l, .row .box.aukcja-txt .col-r {
		width: 100%;
		border-right: 0 none;
	}

	td, th {
		font-size: 12px;
	}

	.obserwuj {
		width: 100%;
	}

	.zainwestuj-aukcja {
		margin-top: 64px;
		width: 100%;
		padding: 3%;
	}

	ul.navbar-nav {
		width: 100%;
	}

	header#header-panel .col-l, header#header-panel .col-r {
		width: 100%;
		text-align: center;
		margin: 0;
		height: 82px;
		line-height: 14em;
		padding-top: 27px !important;
	}

	header#header-panel h1, header#header-panel h4 {
		font-size: 20px;
		padding: 0;
		line-height: 1.3em;
	}

	header#header-panel.register h1 {
		line-height: 81px;
	}

	header#header-panel {
		min-height: 164px;
	}

	.profile {
		padding-top: 14px;
		width: 100%;
		padding-bottom: 20px;
	}

	.avatar, .profile .avatar {
		float: left;
		width: 100%;
		text-align: center;
	}

	.txt {
		float: left;
		padding-right: 0;
		padding-top: 9px;
		width: 100%;
	}
	.profile span.name, .profile span.role {
		text-align: center;
	}
	span.name, span.role {
		text-align: center;
		float: none;
	}

	.content {
		padding-top: 222px;
		float: left;
		width: 100%;
	}

	.infopanel .box {
		width: 100%;
		margin: 0;
		margin-bottom: 5%;
	}

	nav.leftmenu {
		float: left;
		width: 50px;
	}

	.main::after {
		width: 50px;
	}

	header#header-panel {
		padding-left: 50px;
	}

	ul.leftmenu-nav li a {
		padding-left: 69px;
		color: #fff;
		font-size: 1.2em;
		line-height: 82px;
		height: 82px;
		display: block;
		background-repeat: no-repeat;
		background-position-x: 27%;
		background-position-y: center;
	}

	.content {
		padding-top: 222px;
		padding-left: 50px;
	}

	.col-l, .col-r {
		float: left;
		width: 100%;
		position: relative;
	}
}

@media (max-width: 910px) {
	ul.navbar-nav {
		width: 100%;
	}

	form#login-form {
		width: 90%;
		padding: 9px 2.5% 39px 2.5%;
		display: inline;
	}
}

@media (max-width: 850px) {
	.col-l, .col-r {
		float: left;
		width: 100%;
		margin-bottom: 35px;
		text-align: center;
		padding: 0 !important;
	}

	section#licznik .col-l, section#licznik .col-r {
		padding-left: 5% !important;
	}

	footer .col-l, footer .col-r {
		width: 100%;
		text-align: center;
	}

	.col-menu {
		width: 25%;
		float: left;
		padding-left: 0;
	}

	.row.copyright .col-r {
		text-align: center;
	}

	.row.copyright a {
		float: left;
		width: 100%;
		margin: 10px 0 10px 0;
	}

	table a.btn {
		font-size: 1em;
		letter-spacing: 0px;
		min-width: 100px;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.col-menu {
		width: 100%;
	}

	table {
		border: 0;
	}

	table thead {
		display: none;
	}

	table tr {
		display: block;
	}

	.row.inwestycje.aukcja .box .aukcja-table tbody, .row.inwestycje.aukcja .box .aukcja-table tr {
		margin-bottom: 0px;
	}

	table td {
		display: block;
		text-align: right;
		font-size: 13px;
		border-bottom: 1px dotted #ccc;
		width: 100% !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	table td:last-child {
		border-bottom: 0;
	}

	table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
	}

	a.comment img {
		width: 15px;
	}

	span.comment-ammount {
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		position: absolute;
		left: -10px;
		top: -1px;
		background-color: #9dd042;
		color: #fff;
		font-size: 12px;
		line-height: 1em;
		padding: 4px 10px 4px 10px;
	}

	td.column.sldr {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.box.opis-aucji span.slider-txt {
		float: left;
		width: 100%;
	}
	.box.opis-aucji .slider {
		float: left;
		width: 70%;
		margin-left: 15%;
	}
	span.slider-txt {
		float: none;
		width: auto;
		line-height: 1em;
	}
	.slider {
		margin-left: 3%;
		margin-top: 5px;
		width: 30%;
		float: right;
	}

	table tbody {
		border: 0 none;
	}

	td.column-1 {
		border: 0 none;
		text-align: center;
	}

	td.column-2 {
		border: 0 none;
		text-align: center;
	}

	.row.frontstats table tr {
		margin-bottom: 0px;
	}

	a.status {
		padding: 0;
	}

	.row.inwestycje p {
		text-align: right;
		float: none;
	}

	.row.inwestycje .aukcja-txt-header p {
		text-align: center !important;
	}

	.row.inwestycje table .column.opis {
		color: #000;
		padding-left: 16px;
	}

	td.column.aukcjeid {
		padding-left: 16px;
	}

	.row.inwestycje.aukcja .box.aukcja-table td.column {
		padding: 20px 10px 20px 10px;
	}

	.row.inwestycje.aukcja .column.btn {
		margin-top: 10px;
		text-align: center;
	}

	.row .box.aukcja-txt {
		margin-top: -20px;
	}

	.avatar {
		text-align: right;
	}
}

@media (max-width: 820px) {
	.row.jak-to-dziala .col-l, .row.jak-to-dziala .col-r {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.boxy {
		top: 20px;
	}

	section#inwestor, section#pozyczkobiorca {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	.schemat {
		text-align: center;
		margin-top: 60px;
		padding: 40px 0px 70px 0px !important;
	}

	.col-l, .col-r {
		float: left;
		width: 100%;
		margin-bottom: 35px;
		text-align: center;
		padding: 0 !important;
	}

	section#licznik .col-l, section#licznik .col-r {
		padding-left: 0% !important;
		width: 100%;
		text-align: center;
	}

	body.home .col-l {
		float: left;
		width: 100%;
		margin-bottom: 0px;
	}

	.jak-to-dziala p {
		text-align: center;
		width: 95%;
		padding-bottom: 25px;
	}

	.video {
		text-align: center;
	}

	section#licznik h2::before {
		right: 50%;
		margin-right: -31px;
		top: -40px;
	}

	section#licznik h2 {
		margin-bottom: 100px;
	}

	section#licznik .txt , section#licznik .txt {
		margin-bottom: 50px;
		padding-left: 0px;
	}

	.l-uzytkownicy::before, .r-pozyczki::before {
		left: 50%;
		top: -60px;
		margin-left: -20px;
	}

	.l-uzytkownicy, .r-pozyczki {
		padding-left: 0px;
	}

	ul.ref li {
		font-size: 15px !important;
		text-align: center !important;
		line-height: 1.6em;
		padding: 7% !important;
	}

	footer .col-l, footer .col-r {
		width: 100% !important;
		text-align: center;
	}

	.col-menu {
		width: 25%;
		float: left;
		padding-left: 0;
	}

	.row.copyright .col-r {
		text-align: center;
	}

	.row.copyright a {
		float: left;
		width: 100%;
		margin: 10px 0 10px 0;
	}
}

@media (max-width: 690px) {
	.col-menu {
		width: 100%;
	}

	#header-home .header-txt {
		position: relative;
		width: 95%;
		text-align: center;
		top: 10%;
		left: 2.5%;
		margin-left: 0;
		background-color: #fde428;
		padding-top: 20px;
		padding-bottom: 14px;
		-webkit-box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
		-moz-box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
		box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
		z-index: -1;
	}

	.header-txt h1 {
		font-size: 20px;
	}

	.header-txt h2 {
		font-size: 14px;
	}
}

@media (max-width: 606px) {
	ul.navbar-nav li {
		width: 100%;
		float: left;
		line-height: 4.5em;
		margin: 0;
	}

	.profile {
		width: 100%;
		padding: 9px 2.5% 39px 2.5%;
		display: block;
	}

	form#register h3 {
		font-size: 18px;
	}

	.chart, .legend {
		width: 100%;
		padding: 5%;
	}

	table a.btn {
		font-size: 1em;
		letter-spacing: 0px;
		min-width: 100px;
		margin-top: 6px;
	}

	form#login-form {
		width: 100%;
		padding: 9px 2.5% 39px 2.5%;
		display: block;
	}

	input#login, input#password {
		width: 90%;
		float: none;
		margin: 0 auto;
		margin-bottom: 25px;
		display: block
	}

	button.login, button.register {
		width: 90%;
		float: none;
		margin: 0 auto;
		margin-bottom: 25px;
		display: block
	}
	body.home span.error {
		margin-top: -15px;
		text-align: center !important;
		left: 0px;
		width: 100% !important;
	}
}

@media (max-width: 425px) {
	.pagination ul li.pagination-left, .pagination ul li.pagination-right {
		display: none;
	}

	button.przelej, button.zapisz-dane, button.zweryfikuj-konto, button.popup-button {
		width: 92%;
	}

	#doladowanie p {
		font-size: 15px;
	}

	table a.btn {
		width: 100%;
	}

	span.row-header h2 {
		font-size: 15px;
		min-width: initial;
		width: 100%;
		padding: 7% 1%;
		margin: 0;
		margin-bottom: 30px;
	}

	header#header-panel h1, header#header-panel h4 {
		font-size: 15px;
		padding: 0;
		line-height: 1.3em;
	}

	table td:before {
		width: 100%;
		text-align: center;
		padding-bottom: 7px;
	}

	td.column {
		text-align: center;
	}

	span.slider-txt {
		width: 100%;
		clear: both;
		display: block;
	}

	.slider {
		margin: 0 auto;
		display: block;
		float: none;
		margin-top: 7px;
	}

	.row.inwestycje p {
		text-align: center;
	}

	.avatar {
		text-align: center;
	}

	section#licznik h2 {
		font-size: 20px;
	}

	.l-uzytkownicy, .r-pozyczki {
		font-size: 25px;
	}

	section#licznik .txt, section#licznik .txt {
		font-size: 16px;
		line-height: 1.4em;
		margin-top: 4px;
	}

	button.btn {
		width: 90px;
	}

	.form-box form label {
		width: 100%;
		margin-bottom: 70px;
	}

	.form-box form .form-group .slider {
		width: 100%;
	}
}
