.profileImagePreviewArrow {
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 6.5px;
  z-index: 1;
  height: 0;
  width: 0;
  -webkit-animation: gb__a .2s;
  animation: gb__a .2s;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, .2);
  top: 36px;
  display: block;
}

.profileImagePreview {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0.2s;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: gb__a;
  animation-play-state: running;
  animation-timing-function: ease;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(0, 0, 0, 0.2);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 0px;
  color: rgb(0, 0, 0);
  display: block;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  height: 187px;
  line-height: normal;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  right: 0px;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 372.922px;
  -webkit-user-select: text;
}
