<div class="content">
  <div class="content" style="padding-left: 2%; padding-right: 2%; padding-top: 2%">
    <quill-editor [(ngModel)]="contactContent"
                  [config]="editorConfig"></quill-editor>
    <br/>
    <br/>
    <form id="contactEditionForm" name="moderate">
      <span *ngIf="saveOrUpdateDone" style="position: static; color: green">Zapisano treść</span>
      <span *ngIf="moderationErrorMessage != null" class="error"
            style="position: static">{{moderationErrorMessage}}</span>
      <button type="submit" class="zapisz-dane" (click)="onContentSaveOrUpdate()">Zapisz</button>
    </form>
  </div>
</div>
