<div class="content">
  <div>
    <h6>Lista pytań FAQ do edycji</h6>
    <select class="form-register" id="faqsToEdit" name="faqToEdit"
            style="align-content: center; text-align: center; margin-left: 20%;"
            [(ngModel)]="faqIdChosenToEdit" (click)="onFaqToEditChosen()">
      <option *ngFor="let faq of faqQuestions" [attr.value]="faq._id">
        {{faq.faqQuestion}}
      </option>
    </select>
  </div>
  <div class="content" style="padding-left: 2%; padding-right: 2%; padding-top: 2%">
    <h6>Edycja pytania</h6>
    <quill-editor [(ngModel)]="faqQuestionContent"
                  [config]="editorConfig"></quill-editor>
    <br/>
    <h6>Edycja odpowiedzi</h6>
    <quill-editor [(ngModel)]="faqAnswerContent"
                  [config]="editorConfig"></quill-editor>
    <br/>
    <br/>
    <form id="faqEditionForm" name="moderate">
      <span *ngIf="saveOrUpdateDone" style="position: static; color: green">Zapisano treść</span>
      <span *ngIf="moderationErrorMessage != null" class="error"
            style="position: static">{{moderationErrorMessage}}</span>
      <button type="submit" class="zapisz-dane" (click)="onContentSaveOrUpdate()">Zapisz wszystkie pytania</button>
    </form>
  </div>
</div>
