<div class="content">
  <div *ngIf="legalRegulationsGetUnknownErrorControl.value || legalRegulationGetUnknownErrorControl.value">
            <span *ngIf="legalRegulationsGetUnknownErrorControl.value" class="error"
                  style="position: static">{{legalRegulationEditErrors.unknown_legal_regulations_get_error}}</span>
    <span *ngIf="legalRegulationGetUnknownErrorControl.value" class="error"
          style="position: static">{{legalRegulationEditErrors.unknown_legal_regulation_get_error}}</span>
  </div>
  <div *ngIf="!legalRegulationsExists() && !(legalRegulationsGetUnknownErrorControl.value || legalRegulationGetUnknownErrorControl.value)" class="row infopanel">
    <span class="info-header">Brak istniejących regulaminów do edycji</span>
  </div>
  <div *ngIf="isNewLegalRegulationActionChosen() && !(legalRegulationsGetUnknownErrorControl.value || legalRegulationGetUnknownErrorControl.value)">
    <br/>
    <br/>
    <form name="legalRegulationEditionForm" id="register" [formGroup]="legalRegulationTitleForm">
      <p>Wprowadź tytuł nowego regulaminu</p>
      <input class="form-register" id="newLegalRegulationTitle" name="newLegalRegulationTitle"
             [class.error]="!legalRegulationTitleControl.valid && legalRegulationTitleControl.touched"
             [formControl]="legalRegulationTitleControl" type="text">
      <span *ngIf="!legalRegulationTitleControl.valid && legalRegulationTitleControl.touched" style="position: static"
            class="error">{{legalRegulationEditErrors.legal_regulation_title_not_given}}</span>
    </form>
  </div>
  <div *ngIf="legalRegulationsExists() && !(legalRegulationsGetUnknownErrorControl.value || legalRegulationGetUnknownErrorControl.value)" class="row infopanel">
    <span class="info-header">Wybierz regulamin do edycji</span>
    <br/>
    <br/>
    <br/>
    <select class="form-register" id="legalRegulationsToEdit" name="legalRegulationsToEdit"
            style="align-content: center; text-align: center; margin-left: 20%;"
            [(ngModel)]="legalRegulationIdChosenToEdit" (click)="onLegalRegulationChosen()">
      <option *ngFor="let legalRegulation of legalRegulations" [attr.value]="legalRegulation._id">
        {{legalRegulation.title}}
      </option>
    </select>
  </div>
  <div class="content" style="padding-left: 2%; padding-right: 2%; padding-top: 2%">
    <quill-editor [(ngModel)]="legalRegulationContent"
                  [config]="editorConfig"></quill-editor>
    <br/>
    <br/>
    <form id="legalRegulationEditionForm" name="register" [formGroup]="legalRegulationEditForm">
                <span *ngIf="legalRegulationSavedControl.value"
                      style="position: static; color: green">{{legalRegulationEditErrors.saved_legal_regulation}}</span>
      <span *ngIf="legalRegulationUpdatedControl.value"
            style="position: static; color: green">{{legalRegulationEditErrors.updated_legal_regulation}}</span>

      <span *ngIf="legalRegulationSaveUnknownErrorControl.value" class="error"
            style="position: static">{{legalRegulationEditErrors.unknown_save_error}}</span>
      <span *ngIf="legalRegulationUpdateUnknownErrorControl.value" class="error"
            style="position: static">{{legalRegulationEditErrors.unknown_update_error}}</span>
      <button type="submit" class="zapisz-dane" (click)="onLegalRegulationSaveOrUpdate()"
              [disabled]="!legalRegulationSaveOrUpdateButtonEnabled()">Zapisz treść regulaminu
      </button>
    </form>
  </div>
  <br/>
  <br/>
</div>
